
        @font-face {
            font-family: HK Grotesk;
            src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Bold.otf") format("opentype");
            font-size: 12px;
        }

        #mainPopup {
            width: 1304px;
            height: 723px;
            left: 68px;
            top: 111px;
            font-family: HK Grotesk;
        }

        .brand-name {

            /* font-size: 24px;
        line-height: 22px;
        color: #DF4759;
        width: 163px; */
            /* position: absolute; */


            width: 150px;
            height: 33.29px;
            left: 111px;
            top: 166px;

            background: url(chrome-extension://__MSG_@@extension_id__/images/logo1.png);
        }

        h6.text-muted {
            font-size: 12px;
        }

        .h2 {
            font-size: 24px !important;
            color: #12263F !important;
        }

        #icTrending {
            background: url('chrome-extension://__MSG_@@extension_id__/images/icon-trending.png');
            margin-right: 10px;
            display: inline-flex;
            width: 32px;
            height: 32px;
            left: 1122px;
            top: 176px
        }

        #icTrending:hover {

            background: url('chrome-extension://__MSG_@@extension_id__/images/icon-trending1.png');
            margin-right: 10px;
            display: inline-flex;
            height: 32px;
            width: 32px;
            left: 1122px;
            top: 176;
        }

        #ichelp {
            background: url('chrome-extension://__MSG_@@extension_id__/images/icon-help.png');
            margin-right: 10px;
            display: inline-flex;
            width: 32px;
            height: 32px;
            left: 1170px;
            top: 176px;
        }

        #ichelp:hover {
            background: url('chrome-extension://__MSG_@@extension_id__/images/icon-help1.png');
            margin-right: 10px;
            display: inline-flex;
            height: 32px;
            width: 32px;
            left: 1122px;
            top: 176;
        }

        #exportButton {

            width: 110px;
            height: 40px;
            left: 1218px;
            top: 172px;
            font-size: 16px;
            background: #0060b4;
            margin-left: 3;
            text-align: center;
            font-family: HK Grotesk Pro;

        }

        #exportButton:hover {
            transition: box-shadow .25s ease, transform .25s ease;
        }

        #title1 {
            width: 561px;
            height: 74px;
            left: 537px;
            top: 142px;
            margin-left: 150px;
        }

        #title {
            width: 1220px;
            height: 74px;
            left: 111px;
            top: 142px;
            line-height: 0.5;

        }



        .AverageSales {

            width: 171px;
            height: 74px;
            left: 537px;
            top: 142px;
            color: #0e0f0f;
            background: #FFFFFF;

        }

        .AveragePrice {

            width: 171px;
            height: 74px;
            left: 732px;
            top: 142px;
            margin-left: 24;
            background: #FFFFFF;


        }

        .AverageFavourites {

            width: 171px;
            height: 74px;
            left: 927px;
            top: 142px;
            margin-left: 24;
            background: #FFFFFF;

        }

        .group-65 {
            width: 209px;
            height: 40px;
            left: 1122px;
            top: 172px;
            margin-left: 50;
            margin-top: 30px;
        }

        #myTable {
            width: 100%;
            height: 556px;
            left: 110px;
            top: 232px;
        }

        .regular-checkbox {
            -webkit-appearance: none;
            background-color: #D9E2EF;
            border: 1px solid #D9E2EF;
            padding: 8px;
            border-radius: 7px;
            display: inline-block;
            position: relative;

        }

        #copyallButton {
            color: #99AAC6;
        }

        #copyallButton:hover {
            color: #12263F;
        }



        /* .regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
} */

        .regular-checkbox:checked {
            background-color: #0060b4;
            border: 1px solid #D9E2EF;
            /* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); */
            color: #0e0f0f;
        }

        .regular-checkbox:checked:after {
            /*content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            font-size: 14px;
            color: #ffffff;*/
            content: "";
            position: absolute;
            top: 2px !important;
            left: 5px !important;
            width: 6px !important;
            height: 10px !important;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .vl {
            border-left: 2px solid rgb(190, 196, 190);
        }

        .imagecontainer {
            width: 250px;

            /* background-image: url("images/il_340x270.1429610633_o3jy.jpg"); */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        p h1 {
            font-family: HK Grotesk;
            font-size: 16px;
            color: #12263F;

        }

        h1 {
            font-style: Bold;
        }



        .basicbutton {
            background-color: #D9E2EF;
            display: block;
            width: 395px;
            border: darkgrey;
            padding: 9px 9px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            color: #506690;
            border-radius: 8px;
        }

        .listingtags {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }

        .listingtags:hover {
            color: darkgrey;
            cursor: pointer;
        }

        .tagcolor {
            color: black;
        }

        .tagcolor:hover {
            color: darkgrey;
        }

        .vectoricon {
            width: 10px;
            height: 7.78px;
            right: 178px;
            margin-top: 12px;
            display: none;
            border: none;
            background: none;
            /* border: 2px solid #161C2D; */
        }

        tr:hover .vectoricon {
            display: block;

        }

        h6 {
            color: darkgrey;
            font-family: sans-serif;
            font-size: small;
        }


        .card-body {
            /* flex: 1 1 auto; */
            padding: 1.5rem;
            background: #fbfbfb;
            border: 0px #E4EBF5;
            box-sizing: border-box;
            box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.04);
            /* border-radius: 6px; */
        }

        /*spinner */
        #spnr {

            display: inline;
            margin-right: 0px;
        }

        .fa fa-spinner fa-spin {

            /* background:#222; */
            color: #FFF;
            font-size: 30px;

        }

        .footer {
            width: 710px;
            height: 12px;
            left: 365px;
            top: 805px;
            font-family: HK Grotesk Pro;
            font-size: 10px;
            line-height: 12px;

            color: #CDD6E7;
            margin-left: 300px;
        }

        .btn-icon {
            padding: 0;
        }

        .sort-icon {
            padding-bottom: 2px;
        }

        .info-icon {
            background: url('chrome-extension://__MSG_@@extension_id__/images/icon.svg');
            width: 9.17px;
            height: 10.17px;
            left: 0.42px;
            top: 0.42px;
            margin-bottom: 5px;

        }

        .info-icon:hover {
            background: url('chrome-extension://__MSG_@@extension_id__/images/iconblack.svg');

        }

        div.tooltipm {

            position: relative;
            /* Relative to the span elements */
        }

        .tooltipm::before,
        .tooltipm::after {
            position: absolute;
            left: 50%;
            display: block;
            opacity: 0;
            z-index: -999;
            /* This ensures that the tooltips are not visible without user interaction */
        }

        .tooltipm:hover::before,
        .tooltipm:focus::before,
        .tooltipm:hover::after,
        .tooltipm:focus::after {
            /* Select bother hover and focus to accomodate users without a keyboard */
            opacity: 1;
            z-index: 999;
        }


        /* --- Creates a triangle shape with borders ---
        https://css-tricks.com/animation-css-triangles-work/ */
        .tooltipm::before {

            content: "";
            border-style: solid;
            border-width: 1em 0.75em 0 0.75em;
            /* Creates a triangle with the point facing down */
            /* The thinner the left and right borders the sharper the triangle */
            border-color: rgb(228, 235, 245) transparent transparent transparent;
            bottom: 100%;
            /* Bump it up above the span element */
            margin-left: -0.5em;
            /* Center the arrow, given that it has been moved left 50% */
        }

        .tooltipm:after {
            content: attr(data-tip);
            /* This is where the magic happens. See for more details: 
            http://tympanus.net/codrops/css_reference/attr/ */
            background-color: rgb(228, 235, 245);
            border-radius: 0.25em;
            bottom: 170%;
            width: 13.5em;
            padding: 1em 0.5em;
            margin-left: -6.75em;
            /* margin-left is negative and half the width to center the bubble */
            color: #506690;
            text-align: center;
            font-size: 0.75em;
        }
   