.categories-nav__list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0 !important;
}

.categories-nav__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgb(4 56 114 / 15%);
  border-radius: 8px;
  width: 100%;
  padding: 13px 15px;
  transition: border 0.3s ease-in background 0.3s ease box-shadow 0.3s ease-in;
  cursor: pointer;
}

.categories-nav__item:hover {
  background: #e7f2ff;
  border: 1px solid #043872;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(4, 56, 114, 0.15);
  border-radius: 8px;
}

.categories-nav__item:not(:last-child) {
  margin-bottom: 5px;
}

.categories-nav__item-title {
  color: #043872;
  white-space: nowrap;
}

.categories__table {
  width: 70%;
}

.categories-nav__title {
  font-size: 20px;
  color: #043872;
  margin-bottom: 5px;
}

.categories-nav__subTitle {
  margin-bottom: 20px;
}

.categories__form {
  display: flex;
}

.categories__input {
  border: 1px solid #f4f4f4;
  box-shadow: 0px 1px 5px rgba(4, 56, 114, 0.15);
  border-radius: 8px;
}

.data-picker__input {
  border: 1px solid #f4f4f4;
  box-shadow: 0px 1px 5px rgba(4, 56, 114, 0.15);
  border-radius: 8px;
}
