.everBee__custom_view @font-face {
  font-family: HK Grotesk Pro;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Regular.otf") format("opentype");
  font-size: 12px;
}
.everBee__custom_view @font-face {
  font-family: HKGrotesk-Medium;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Medium.otf") format("opentype");
  font-size: 12px;
}
/*new premium buttons switch*/
.everBee__custom_view .preDec{
  margin-top: 0.800rem!important;
  font-size: 16px !important;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: normal;

  line-height: 19px;
  letter-spacing: -0.01em;
  color: #161B2D !important;
}
.everBee__custom_view #p-b-sign{
      padding-block-end: 15px;
}
.everBee__custom_view .price-tag{
  /*width: 65px;*/
  width: 45px;
  height: 52px;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.01em;

  color: #161B2D;

}
.everBee__custom_view .switch-b-a{
  padding-inline-start: 10px;
}
.everBee__custom_view .msg-p-text{
  width: 100%;
  height: 8px;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 155.48%;
  margin-inline-start: 10px;
  margin-top: 8px;
  /* or 19px */


  color: #8B9DB5;
}
.everBee__custom_view .d-sign99,.everBee__custom_view #preDec33{
  width: 23px;
height: 20px;
  font-family: "HK Grotesk Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: rgb(22, 27, 45);
  margin-top: 0.635rem !important;
}
.everBee__custom_view .d-sign{
  margin-top: 1.365rem!important;
  width: 12px;
  height: 29px;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: #161B2D;
}
.everBee__custom_view .price-tag{
  font-family: HK Grotesk Regular !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 52px !important;
  line-height: 62px !important;
  letter-spacing: -0.01em !important;
  color: #161B2D !important;
}
.everBee__custom_view .text-white-80{
  font-family: HK Grotesk Pro;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px ;
  line-height: 155.48% !important;
  color: #99AAC6 ;
}
.everBee__custom_view .learn_more_btn{
  background: #C6D3E6;
  border-radius: 5px;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  padding: 14px 25px;
  width: 140px;
  text-align: center;

  color: #506690;
  text-align: center;
  margin: 0px 5px;
  transition: all 0.2s;
  color: #506690 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}
.everBee__custom_view .learn_more_btn:hover{
  background: #A7BDDF;
  color: #506690 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}
.everBee__custom_view .get_started_btn{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  padding: 14px 25px;
  width: 190px;
  color: #FFFFFF;
  background: #0060b4 !important;
  text-align: center;
  transition: all 0.2s;
  margin: 0px 5px;
  font-family: HK Grotesk Pro;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF !important;
  text-decoration: none !important;
  cursor: pointer !important;
}
.everBee__custom_view .get_started_btn:hover{
  background: #005488 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  text-decoration: none !important;
  color: #FFFFFF !important;
  cursor: pointer !important;

}
.everBee__custom_view .welcome-box-login{
 padding: 2.5rem 1.5rem;
 align-items: center;
 text-align: center;
}
.everBee__custom_view .welcome-box{
  padding: 2rem;
  padding: 8.5rem 1.5rem;
  align-items: center;
  text-align: center;
}
.everBee__custom_view .welcome-box h1{
  font-family: HK Grotesk Pro !important;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #161C2D;
}
/*.welcome-box p{
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  color: #6E84A3;
  opacity: 0.8;
  margin-bottom: 50px;
  }*/
  .everBee__custom_view .switch-b-a{
    margin-bottom: 25px;
  }
  .everBee__custom_view .paymentBox{
    padding: 1.5rem 1.5rem !important;
    align-items: center !important;
    text-align: center !important;
  }
  .everBee__custom_view .paymentBox p{
   line-height: 0px !important;
   /*margin-bottom: 20px !important;*/
   margin-bottom: 15px !important;
 }

 .everBee__custom_view .paymentBox p img {
    margin-inline-end: 10px !important;
}
 
 .everBee__custom_view .welcome-box p{
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  color: #6E84A3;
  opacity: 0.8;
  margin-bottom: 40px;

  /*word-break: break-all;*/
  font-family: HK Grotesk regular;
}
.everBee__custom_view .min-height-wel-box{
  min-height: 44px;
}
.everBee__custom_view .logo-box{
  height: 100%;
  background-image: url(chrome-extension://__MSG_@@extension_id__/images/wlcome-bg.png);
  background-size: cover;
  background-position: right;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;

}
.everBee__custom_view .logo-box img{
  margin: auto !important;
}
.everBee__custom_view .modal.welcome-model.show .modal-dialog {
  transform: translate(0);
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 0px;
}
.everBee__custom_view .welcome-model .modal-content{
  /*border: 0px solid rgba(0,0,0,.2) !important;*/
  border: 0px solid rgba(0,0,0,.2) !important;
}
.everBee__custom_view .card-table-height{
  height: calc(100% - 157px);
}