@font-face {
    font-family: HK Grotesk;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Bold.otf") format("opentype");
    font-size: 12px;
}
@font-face {
  font-family: HK Grotesk Pro;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Regular.otf") format("opentype");
  font-size: 12px;
}
@font-face {
    font-family: HK Grotesk regular;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Regular.otf") format("opentype");
    font-size: 12px;
}
@font-face {
    font-family: HKGrotesk-SemiBoldLegacy;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-SemiBoldLegacy.otf") format("opentype");
    font-size: 12px;
}
@font-face {
    font-family: HKGrotesk-Medium;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGroteskPro-Regular.otf") format("opentype");
    font-size: 12px;
}
@font-face {
    font-family: HKGrotesk-Medium;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Medium.otf") format("opentype");
    font-size: 12px;
}

/*custom odal*/
.fancybox-bg{
    background: rgb(86, 98, 117) !important;
    opacity: 0.75 !important;
}
.paymentBox .d-flex {
    display: flex!important
}
/*pricing swich*/

#pricing-modal-everBee .align-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}
#pricing-modal-everBee .justify-content-center {
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

#pricing-modal-everBee .d-flex {
    display: -webkit-box !important;
    display: flex !important;
}

#pricing-modal-everBee {
    display: flex !important;
    text-align: center;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    padding: 7px 0px 7px !important ;
}



#pricing-modal-everBee .custom-switch {
    min-height: 1.375rem !important;
}

#pricing-modal-everBee .ml-3,#pricing-modal-everBee .mx-3 {
    margin-left: .75rem !important;
}

#pricing-modal-everBee .mr-3,#pricing-modal-everBee .mx-3 {
    margin-right: .75rem !important;
}

#pricing-modal-everBee .custom-switch {
    padding-left: 3rem !important;
}

/*#pricing-modal-everBee .custom-control {
    position: relative !important;
    display: block !important;
    min-height: 1.7rem !important;
    padding-left: 1.5rem !important;
}
*/
#pricing-modal-everBee input[type=checkbox], #pricing-modal-everBee input[type=radio] {
    box-sizing: border-box !important;
    padding: 0 !important;
}

#pricing-modal-everBee .custom-control-input {
    position: absolute !important;
    left: 0 !important;
    z-index: -1 !important;
    width: 1rem !important;
    height: 1.35rem !important;
    opacity: 0 !important;
}
#pricing-modal-everBee .custom-control-label {
    position: relative !important;
    margin-bottom: 0 !important;
    vertical-align: top !important;
}

#pricing-modal-everBee label {
    display: inline-block !important;
    margin-bottom: .5rem !important;
}

#pricing-modal-everBee .custom-switch-dark .custom-control-label::before {
    background-color: #0060b4 !important;
}

/*#pricing-modal-everBee .custom-switch .custom-control-label::before {
    top: .1625rem !important;
    height: 1.375rem !important;
    border-radius: .6875rem !important;
}

#pricing-modal-everBee .custom-switch .custom-control-label::before {
    left: -3rem !important;
    width: 2.5rem !important;
    pointer-events: all !important;
    
    }*/

    #pricing-modal-everBee .custom-control-label::before,#pricing-modal-everBee .custom-file-label, .custom-select {
        -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    }

    #pricing-modal-everBee .custom-control-label::before {
      top: .1625rem;
      height: 1.375rem;
      border-radius: .6875rem;
      left: -3rem;
      width: 3rem !important;
      pointer-events: all;
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      border: #abbcd5 solid 0;
  }



  #pricing-modal-everBee .custom-switch .custom-control-label::after {
    top: .35rem !important;
    /*left: -2.8125rem !important;*/
    background-color: #fff !important;
}


#pricing-modal-everBee .custom-control-label::after {
    top: .35rem;
    left: -3rem;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
    background-color: #fff !important;
}

/*custom made feedback css*/
.everBee__custom_view td[colspan="10"]{
    border-top: none !important;
}
.everBee__custom_view .t-costom{
    color: rgb(204, 209, 218) !important;
    font-size: 14px !important;
}
.everBee__custom_view .t-text{
    font-family: HK Grotesk Pro !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #12263F !important;
    border-radius: 6px !important;
}

.everBee__custom_view .ListingTags{
    margin-inline-start: -3px;
    width: 320px;
}
.everBee__custom_view .card-body.pl-0{
    padding: 2rem 0.5rem 1rem !important;
}
.everBee__custom_view #connect_etsy_btn,.everBee__custom_view #strat_now_btn{
    width: 190px !important;
    height: 50px !important;
    background: #0060b4 !important;
    border-radius: 5px !important;
    padding: 15px 60px !important;
}
.everBee__custom_view .text-muted.text-center.mb-5{
  margin-bottom: 29px !important;
}
.everBee__custom_view .login-btns-a{
    height: 50px !important;
    background-color: #0060b4 !important;
}
.everBee__custom_view #signH1,.everBee__custom_view #signLoginH1{
    font-size: 31px !important;
    color: #161C2D !important;
    font-weight: 600 !important;
}

.everBee__custom_view .eye-pass-f{
    border-right: none !important;
}
.modal-dilog-everBee{
    /*padding: 0px 35px !important;*/
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 100%;
    
}
.welcome-model .modal-content {
    border: 0px solid rgba(0,0,0,.2) !important;
}
.everBee__custom_view #search_keyword{
    font-style: italic !important;
    display: contents;
}
.everBee__custom_view #list-length{
    display: contents;
}
.everBee__custom_view .search_keyword_div{
    float: left;
    font-family: HK Grotesk regular;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #99AAC6;
    padding-inline-start: 20px !important;
}
.everBee__custom_view .logo-pad {
    padding: 0px !important;
}
.everBee__custom_view td,
.everBee__custom_view th { 
    padding: 4px; 
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
}
.everBee__custom_view th a,
.everBee__custom_view td a { 
    display: block;
    width: 100%;
}
.everBee__custom_view th a.sort-by,.everBee__custom_view th a.f1-a,.everBee__custom_view th a.f2-a { 
    padding-right: 5px;
    position: relative;

    /*text-align: right;*/
}
.everBee__custom_view a.sort-by:before,.everBee__custom_view a.f1-a:before,.everBee__custom_view a.f2-a:before,.everBee__custom_view a.sort-by:after,.everBee__custom_view a.f1-a:after,.everBee__custom_view a.f2-a:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}
.everBee__custom_view a.sort-by:before,.everBee__custom_view a.f1-a:before,.everBee__custom_view a.f2-a:before {
    border-bottom-color: rgb(149, 170, 201) !important;
    margin-top: -9px;
}
.everBee__custom_view a.sort-by:after,.everBee__custom_view a.f1-a:after,.everBee__custom_view a.f2-a:after {
    border-top-color: rgb(149, 170, 201) !important;
    margin-top: 1px;
}
.everBee__custom_view .logo-box{
    background-repeat: no-repeat !important;
}
.everBee__custom_view .login-btns-a{
    font-family: HK Grotesk regular;
    font-size: 16px !important;
    line-height: 19px !important;
    text-align: center !important;
    color: #FFFFFF !important;
}
.ms-style {
    min-height: 0 !important;
    background-color: #fff;
}
.modal.fade.show{
    z-index: 2 !important;
    background: #56627569!important;
}
.fancybox-slide{
    background-color: transparent !important;
}

.everBee__custom_view{
    background: transparent !important;
    /*font-family: HK Grotesk regular !important;*/
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Regular.otf") format("opentype");
    font-size: 12px;
    font-family: "HK Grotesk" !important;
}

.everBee__custom_view .table {
    font-family: "HK Grotesk" !important;
}
.avatar-img {
   width: 30px !important;
   height: 30px!important;
   vertical-align: middle !important;
   margin-inline-start: -10px !important;
   margin-block-start: -5px !important;

}

.everBee__custom_view #title1{
    /*width: 80%;*/
    width: auto !important;
    margin-left: 0px !important;

    /*padding: 0.5rem 0.5rem 0.5rem 18.5rem !important;*/
    /*padding: 0.5rem 0.5rem 0.5rem 18.5rem !important;*/

}

.everBee__custom_view .brandname{
    width: auto;
}

.everBee__custom_view .modal-content {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.everBee__custom_view .modal-content:before, .everBee__custom_view .modal-content:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.everBee__custom_view .modal-content:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}
/*
#myTable th.asc:after {
  display: inline;
  content: '↓';
}

#myTable th.desc:after {
  display: inline;
  content: '↑';
  }*/
  .everBee__custom_view .trendsHeading{
    width: 439px;
    height: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    color: #12263F;
    border-radius: 6px;
    margin-left: 7px;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c8c8c8;
}

::-webkit-scrollbar-thumb:active {
    background: #c8c8c8;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #ebebeb;
}

::-webkit-scrollbar-track:active {
    background: #ebebeb;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
.everBee__custom_view .NotAvailableClass{
    color: red !important;
    font-weight: 500;
}


.everBee__custom_view #title1 h6{
    font-family: HKGrotesk-SemiBoldLegacy !important;
    font-size: 12px !important;
    line-height: 12px !important;
    color: #99AAC6 !important;
    margin-bottom: 11px !important;
    font-weight: bold !important;
    letter-spacing: normal !important;
}
.everBee__custom_view .btn{
    padding: .44rem .75rem .5rem;
}

.everBee__custom_view #mainPopup {
    width: 1304px;
    height: 723px;
    left: 68px;
    top: 111px;
    font-family: HK Grotesk !important;
}

.everBee__custom_view .brand-name {

            /* font-size: 24px;
            line-height: 22px;
            color: #DF4759;
            width: 163px; */
            /* position: absolute; */


            width: 150px;
            height: 33.29px;
            left: 111px;
            top: 166px;
            background: url(chrome-extension://__MSG_@@extension_id__/images/logo1.png) no-repeat;
            cursor: pointer;
        }

        .everBee__custom_view h6.text-muted {
            font-size: 12px;
        }

        .everBee__custom_view .h2 {
            font-size: 24px !important;
            color: #12263F !important;
        }

        .everBee__custom_view #icTrending {
            background: url('chrome-extension://__MSG_@@extension_id__/images/icon-trending.png');
            margin-right: 10px;
            display: inline-flex;
            width: 32px;
            height: 32px;
            left: 1122px;
            top: 176px
        }

        .everBee__custom_view #icTrending:hover {

            background: url('chrome-extension://__MSG_@@extension_id__/images/icon-trending1.png');
            margin-right: 10px;
            display: inline-flex;
            height: 32px;
            width: 32px;
            left: 1122px;
            top: 176;
        }

        .everBee__custom_view #ichelp {
            background: url('chrome-extension://__MSG_@@extension_id__/images/icon-help.png');
            margin-right: 10px;
            display: inline-flex;
            width: 32px;
            height: 32px;
            left: 1170px;
            top: 176px;
        }

        .everBee__custom_view #ichelp:hover {
            background: url('chrome-extension://__MSG_@@extension_id__/images/icon-help1.png');
            margin-right: 10px;
            display: inline-flex;
            height: 32px;
            width: 32px;
            left: 1122px;
            top: 176;
        }

        .everBee__custom_view #exportButton {
            width: 102px !important;
            height: 40px !important;
            left: 1218px !important;
            top: 172px !important;
            font-size: 16px !important;
            background: #0060b4 !important;
            margin-left: 3px !important;
            text-align: center !important;
            font-family: HK Grotesk regular;

        }

        .everBee__custom_view #exportButton:hover {
           color: #fff !important;
           background-color: #005488 !important; 
           border-color: #005488 !important
       }

        /*#exportButton:hover {
            transition: box-shadow .25s ease, transform .25s ease;
            }*/

            .everBee__custom_view #title1 {
               /* width: 561px;*/
               left: 537px;
               top: 142px;
               margin-left: 10px;
               margin-right: 0px;
           }

           .everBee__custom_view #title {
            width: 100%;
            justify-content: space-between!important;
            left: 111px;
            top: 142px;
            line-height: 0.5;
            margin: 0;
        }



        .everBee__custom_view .AverageSales {

            width: 171px;
            height: 74px;
            left: 537px;
            top: 142px;
            color: #0e0f0f;
            background: #FFFFFF;

        }

        .everBee__custom_view .AveragePrice {

            width: 171px;
            height: 74px;
            left: 732px;
            top: 142px;
            margin-left: 24px;
            background: #FFFFFF;


        }

        .everBee__custom_view .AverageFavourites {
            width: 171px;
            height: 74px;
            left: 927px;
            top: 142px;
            margin-left: 24px;
            background: #FFFFFF;

        }

        .everBee__custom_view .group-65 {
            width: auto !important;
            height: 40px;
            left: 1122px;
            top: 172px;
            margin-left: 21px;
            margin-top: 30px;
        }

        .everBee__custom_view #myTable {
            width: 100%;
            /* height: 556px; */
            /* left: 110px;
            top: 232px; */
        }

        .everBee__custom_view .regular-checkbox {
            -webkit-appearance: none;
            background-color: #D9E2EF;
            border: 1px solid #D9E2EF;
            padding: 8px !important;
            border-radius: 7px;
            display: inline-block;
            position: relative;

        }

        .everBee__custom_view #copyallButton {

            text-decoration: underline;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            text-decoration-line: underline;
            color: #99AAC6;
            border-radius: 6px;
        }

        .everBee__custom_view #copyallButton:hover {
            color: #12263F;
        }

        .everBee__custom_view .copyallButton {
            margin-inline-start: 45px;
            font-family: HK Grotesk Pro;
            text-decoration: underline;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            text-decoration-line: underline;
            color: #99AAC6;
            border-radius: 6px;
        }
        .everBee__custom_view #exp-btn, #spinner-btn{
         font-family: HKGrotesk-Medium;
         transition: all 0.2s;
     } 
     .everBee__custom_view #spinner-btn{padding: 0px 0px 0px 3px;}
     .everBee__custom_view #exp-btn{
         font-family: HKGrotesk-SemiBoldLegacy;
         transition: all 0.2s;
         padding: 0.05rem .75rem .5rem;
     }
     .everBee__custom_view .btn-primary:hover{
        background: #005488 !important;
    }

    .everBee__custom_view .copyallButton:hover {
        color: #12263F;
    }

        /* .regular-checkbox:active, .regular-checkbox:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        } */

        .everBee__custom_view .regular-checkbox:checked {
            background-color: #0060b4;
            border: 1px solid #D9E2EF;
            /* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); */
            color: #0e0f0f;
        }

        .everBee__custom_view .regular-checkbox:checked:after {
            /*content: '\2714';
            font-size: 12px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #ffffff;*/
            content: "";
            position: absolute;
            top: 2px !important;
            left: 5px !important;
            width: 6px !important;
            height: 10px !important;

            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .everBee__custom_view .vl {
          /*  border-left: 2px solid rgb(190, 196, 190);*/
          border-left: 1px solid #E4EBF5;
          padding-left: 30px;
      }

      .everBee__custom_view .imagecontainer {
        width: 250px;

        /* background-image: url("images/il_340x270.1429610633_o3jy.jpg"); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .everBee__custom_view p h1 {
        font-family: HK Grotesk;
        font-size: 16px;
        color: #12263F;

    }

    .everBee__custom_view h1 {
        font-style: Bold;
    }



    .everBee__custom_view .basicbutton {
        background-color: #D9E2EF;
        display: block;
        width: 395px;
        border: darkgrey;
        padding: 9px 9px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        color: #506690;
        border-radius: 8px;
    }

    .everBee__custom_view .listingtags {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    .everBee__custom_view .listingtags:hover {
        color: darkgrey;
        cursor: pointer;
    }

    .everBee__custom_view .tagcolor {
        color: #161C2D;
    }

    .everBee__custom_view .tagcolor:hover {
        color: darkgrey;
    }

    .everBee__custom_view .vectoricon {
        width: 10px;
        height: 7.78px;
        right: 178px;
        display: none;
        border: none;
        background: none;
        /* border: 2px solid #161C2D; */
    }

    .everBee__custom_view tr:hover .vectoricon {
        display: block;

    }

    .everBee__custom_view h6 {
        color: darkgrey;
            /* font-family: sans-serif;
            font-size: small; */
        }

        .everBee__custom_view .table-sm td, .everBee__custom_view .table-sm th {
            padding: .9375rem;
            padding: 1.3rem .9375rem .9375rem;
        }
        .everBee__custom_view .p-img{
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .everBee__custom_view .card-body {
            /* flex: 1 1 auto; */
            padding: 0rem 0rem 1.5rem !important;
            /*background: #fbfbfb;*/
            /*border: 0px #E4EBF5;*/
           /* box-sizing: border-box;
           box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.04);*/
           /* border-radius: 6px; */
           padding-right: 0;
       }

       /*spinner */
       .everBee__custom_view #spnr {

        display: inline;
        margin-right: 0px;
    }

    .everBee__custom_view .fa fa-spinner fa-spin {

        /* background:#222; */
        color: #FFF;
        font-size: 30px;

    }

    .everBee__custom_view .footer {
      position: relative;
      width: 100%;
      height: 10px;
      font-family: "HK Grotesk regular";
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      color: rgb(205, 214, 231);
      z-index: 1;
      bottom: 0;
  }

  .everBee__custom_view .btn-icon {
    padding: 0 !important;
}

.everBee__custom_view .sort-icon {
    padding-bottom: 0px;
    cursor: pointer !important;
    float: right;
}

.everBee__custom_view .info-icon {
    background: url('chrome-extension://__MSG_@@extension_id__/images/icon.png');
    width: 10px;
    height: 10px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.everBee__custom_view .info-icon:hover {
    background: url('chrome-extension://__MSG_@@extension_id__/images/iconblack.png');

}

.everBee__custom_view div.tooltipm {

    position: relative;
    /* Relative to the span elements */
}

.everBee__custom_view .tooltipm::before,
.everBee__custom_view .tooltipm::after {
    position: absolute;
    left: 50%;
    display: block;
    opacity: 0;
    z-index: -999;
    /* This ensures that the tooltips are not visible without user interaction */
}

.everBee__custom_view .tooltipm:hover::before,
.everBee__custom_view .tooltipm:focus::before,
.everBee__custom_view .tooltipm:hover::after,
.everBee__custom_view .tooltipm:focus::after {
    /* Select bother hover and focus to accomodate users without a keyboard */
    opacity: 1;
    z-index: 999;
}


        /* --- Creates a triangle shape with borders ---
        https://css-tricks.com/animation-css-triangles-work/ */
        .everBee__custom_view .tooltipm::before {

            content: "";
            border-style: solid;
            border-width: 1em 0.75em 0 0.75em;
            /* Creates a triangle with the point facing down */
            /* The thinner the left and right borders the sharper the triangle */
            border-color: rgb(228, 235, 245) transparent transparent transparent;
            bottom: 100%;
            /* Bump it up above the span element */
            margin-left: -0.5em;
            /* Center the arrow, given that it has been moved left 50% */
        }

        .everBee__custom_view .tooltipm:after {
            content: attr(data-tip);
            /* This is where the magic happens. See for more details: 
            http://tympanus.net/codrops/css_reference/attr/ */
            background-color: rgb(228, 235, 245);
            border-radius: 0.25em;
            bottom: 170%;
            width: 13.5em;
            padding: 1em 0.5em;
            margin-left: -6.75em;
            /* margin-left is negative and half the width to center the bubble */
            color: #506690;
            text-align: center;
            font-size: 0.75em;
        }
        /*new css*/
        /*.v-left-div{
            margin-left: 8.33333333%;
            }*/
            .everBee__custom_view .col-12.summary{
                font-size: 14px !important;
                padding: 0px;
            }
            .everBee__custom_view .custom-m{
                margin-right: -2.666667% !important;
            }
            .everBee__custom_view input[type="checkbox" i]:focus {
                outline: -webkit-focus-ring-color auto 0px !important;
            }
            .everBee__custom_view input[type="checkbox" i] {
                cursor: pointer;
            }
            .everBee__custom_view .p-location{
                color: #506690;
                font-family: HKGrotesk-Medium;
            }
            .everBee__custom_view .hrv{
                color: #E4EBF5 !important;
            }
            .everBee__custom_view .card-body-c{
                position: absolute;
                width: 171px;
                height: 74px;
                padding: 16px 4px 20px 35px;
                background: #fbfbfb;
                border: 1px solid #E4EBF5;
                box-sizing: border-box;
                box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.04);
                padding-right: 0;
                background: #FFFFFF;
                border: 1px solid #E4EBF5;
                box-sizing: border-box;
                box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.04);
                border-radius: 6px;
            }

            /*table sticky header css*/
            .everBee__custom_view .tableFixHead {
              overflow-y: auto;
          }

          .everBee__custom_view .tableFixHead table {
              border-collapse: collapse;
              width: 100%;
          }
          .everBee__custom_view tr{
            transition: all 0.5s ease;
        }
        .everBee__custom_view .ShopRating{
            cursor: pointer;
        }



        .everBee__custom_view .tableFixHead th {
          position: sticky;
          top: 0;
          background: #eee;
          z-index: 5;
      }

      .everBee__custom_view .spinner-border-custom{
       display: inline-block;
       width: 1rem;
       height: 1rem;
       vertical-align: text-bottom;
       border: 0.15em solid currentColor;
       border-right-color: transparent;

       animation: b .75s linear infinite;
       color: #ffffff;
       margin: 0px 5px 5px -4px;
       border-radius: 70%;
   }
   .everBee__custom_view .avtar-icon-p{
    width: 2.625rem !important;
    height: 1.625rem !important;
    font-size: .54167rem !important;
    position: relative !important;
    display: inline-block !important;
}
.everBee__custom_view .main_box{
    padding: 0.5rem 3.5rem 1.5rem 3.5rem !important;
}

.everBee__custom_view .tableFixHead th{
    padding: 17px 0px 23px 15px !important;
    font-size: 12px;
}

.everBee__custom_view .tableFixHead th{
    padding: 17px 0px 23px 15px !important;
    font-size: 12px;
}

.everBee__custom_view tbody#scroll-pan tr{
    /*display: none;*/
}

.everBee__custom_view tbody#scroll-pan{
    display: block;

    height: 240px;
}
/*tbody {
    height:300px;
    overflow:auto;
    overflow-x:hidden;
    display:block;
    width:100%;
}
table {
    table-layout:fixed;
    margin:auto;
}
th, td {
        vertical-align: middle;
}
thead, tfoot {
    background:#f9f9f9;
    width:100%;
}

tbody tr {
    width:100%;
    table-layout:fixed;
    }*/
    .everBee__custom_view a, a:hover{
        color:inherit;
    }
    .everBee__custom_view .RatingNumber{
       color: #506690;
       font-family: HKGrotesk-Medium;
       font-size: 10px;
   }
   .everBee__custom_view .RatingCount{
    font-size: 10px;
}
.everBee__custom_view .ListingTags{
    font-family: HKGrotesk-Medium;
    margin-bottom: 0px;
}

.everBee__custom_view .table-scroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  /*height: 435px;*/
  max-height: 72.6vh;
  height: 56vh;
  min-height: auto;
}
.everBee__custom_view .table-scroll table {
  width: 100%;
  min-width: 1280px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.everBee__custom_view .table-wrap {
  position: relative;
}
.everBee__custom_view td{
    padding: 12px 2px;
}
/*.table-scroll thead th {
  background: #333;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  }*/
  /* safari and ios need the tfoot itself to be position:sticky also */
  .everBee__custom_view .table-scroll tfoot,
  .everBee__custom_view .table-scroll tfoot th,
  .everBee__custom_view .table-scroll tfoot td {
     position: -webkit-sticky;
     position: sticky;
     bottom: -1px;
     /* background: #666; */
     color: #fff;
     padding: 18px;
     z-index: 4;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border-top: 1px solid #ccc;
     border-top: 1px solid #edf2f9;
     background: #F9FBFD;
 }

 /*div loading*/
 .everBee__custom_view #divLoading
 {
    display : none;
}
.everBee__custom_view #divLoading.show
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('http://loadinggif.com/images/image-selection/3.gif');
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
.everBee__custom_view #loadinggif.show
{
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}
.everBee__custom_view div.content {
   width : 1000px;
   height : 1000px;
}
/*end*/

/*a:focus {
  background: red;
  }*/ /* testing links*/

/*th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background: #ccc;
  }*/
  .everBee__custom_view thead th:first-child,
  .everBee__custom_view tfoot th:first-child {
      z-index: 5;
  }
  .everBee__custom_view table tbody tr td:nth-child(5), table tbody tr td:nth-child(6), table tbody tr td:nth-child(7), table tbody tr td:nth-child(8) {
   text-align: right !important;
   padding-right: 8px;
}
/*.everBee__custom_view table tbody tr td{
    cursor: pointer !important;
    }*/
 /*.everBee__custom_view table tr th:nth-child(4){
     padding: 17px 0px 23px 20px !important;
 }
 .everBee__custom_view .table-sm td:nth-child(2){
    padding: 1rem .9375rem .9375rem;
    }*/
    .everBee__custom_view .summary .col-md-3 {
        flex: 1 0 16.66667%;
        max-width: 20.66667%;
    }
    .everBee__custom_view .summary .custom-m p{
        margin-bottom: 4px;
    }
    .everBee__custom_view p.ShopHeadline{
     margin-bottom: 0px;
     font-family: HKGrotesk-Medium;
 }
 .everBee__custom_view{
    min-height: auto;
}
.everBee__custom_view .link{
   margin-top: 2.5rem;
   margin-bottom: 6px;
   display: block;
}
.everBee__custom_view .container-fluid {
 border: 0px solid #E4EBF5;}
 .everBee__custom_view .search_remining{
    background: #f7f8fa;
    border-radius: 100px;
    font-family: HK Grotesk Regular;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 5px 10px;
    width: auto;
    color: #506690;
    width: 195px;
    display: inline-block;
    cursor: pointer;
}
.everBee__custom_view .search_remining:hover{
    color: #506690;
}

.everBee__custom_view .upgrade{
    display: inline-block;
    background: #f7f8fa;
    border-radius: 100px;
    font-family: HK Grotesk Regular;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 5px 10px 5px 5px;
    width: auto;
    color: #506690;
    width: 105px;
    cursor: pointer;
    display: inline-flex;
    margin-inline-end: 17px;
}
.everBee__custom_view .upgrade:hover{
    color: #506690;
}
.everBee__custom_view .upgrade img,.everBee__custom_view .premium img{

    padding-inline-end: 5px !important;
}
.everBee__custom_view .premium{
    font-family: "HK Grotesk Regular";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: rgb(80, 102, 144);
    width: 105px;
    cursor: pointer;
    display: inline-flex;
    background: rgb(247, 248, 250);
    border-radius: 100px;
    padding: 5px 10px 5px 5px;
}
.everBee__custom_view .premium:hover{
    color: #506690;
}
.everBee__custom_view .connect_btn{
  background: #0060b4;
  border-radius: 5px;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #FFFFFF;
  padding: 13px 25px;
  width: 181.35px;
  margin: auto;
}
.everBee__custom_view .connect_btn:hover{
  background: #005488;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  color: #fff
}
.everBee__custom_view .prem-cls p{
    margin-bottom: 16px !important;
    /*padding: 0px 25px 0px 0px !important;*/
    padding: 0px 0px 0px 0px !important;
}
.everBee__custom_view .upgrade_etsy_btn{
  padding: 15px 21px;
  width: 250px;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: rgb(64, 124, 222);
  border-radius: 5px;
  margin: auto;
  color: #FFFFFF;
  text-decoration: none !important;
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
}
.everBee__custom_view .upgrade_etsy_btn:hover{
  background: #005488 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  text-decoration: none !important;
  color: #FFFFFF !important;
  cursor: pointer !important;

}
.everBee__custom_view #pay-btn{
    text-decoration: none;
    font-family: HK Grotesk Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.everBee__custom_view .upgrade_etsy_btn span{
    width: 51.25px;
    height: 21.5px;
}
.everBee__custom_view .upgrade_etsy_btn img{
    opacity: 0.8;
    padding-inline-start: 30px;
}
.everBee__custom_view .upgrade_etsy_btn img:hover{
    opacity: 1;
    cursor: pointer !important;
}
.everBee__custom_view .prem-cls{
    margin-inline-start: -35px !important;
}
.everBee__custom_view .prem-cls p span{
    font-family: HK Grotesk Pro !important;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #161C2D;
}
.everBee__custom_view .premetagTd{
    display: inline-block;
    background: #f7f8fa;
    border-radius: 100px;
    font-family: HK Grotesk Regular;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.08em;
    padding: 3px 0px 3px 5px;
    width: auto;
    color: #506690;
    width: 80px;
    cursor: pointer !important;
    float: right;
    font-weight: bold;
}
.everBee__custom_view .isPremium{
    padding: 17px 0px 23px 30px !important;
}
.everBee__custom_view .padR{
    padding-right:50px !important;
}
.everBee__custom_view .text-muted{
    font-family: HK Grotesk regular !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 17px !important;
    line-height: 26px !important;
    text-align: center !important;
    color: #6E84A3 !important;
    opacity: 0.8 !important;
}
::-webkit-input-placeholder {
  color: peachpuff;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #869AB8;
  
}
::-moz-placeholder {
  color: peachpuff;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #869AB8;
  
}
:-ms-input-placeholder {
  color: peachpuff;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #869AB8;
  
}
::placeholder {
  color: peachpuff;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #869AB8;
  
}
@media only screen and (max-width: 1032px){
    .everBee__custom_view .brandname {
        /* width: 561px; */
        margin-bottom: 20px;
    }
    .everBee__custom_view #title1 {
        margin-left: 0px;
    }
    @media only screen and (max-width: 937px){
        .everBee__custom_view .group-65 {
            margin-left: 0px;
            margin-top: 10px;
        }
        .everBee__custom_view .AveragePrice, .AverageFavourites {

            margin-left: 8px;}
        }
        @media only screen and (max-width: 697px){
            .everBee__custom_view .group-65 {
                margin-left: 0px;
            }
        }
        @media only screen and (max-width: 640px){
         .everBee__custom_view .AverageFavourites {
            margin-left: 0px;
        }
        .everBee__custom_view .AveragePrice, .AverageFavourites {

            margin-bottom: 8px;}
        }
        .everBee__custom_view .no-scroll{
            overflow-y: hidden;
        }

    }