@font-face {
  font-family: HK Grotesk;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Bold.otf')
    format('opentype');
  font-size: 12px;
}
@font-face {
  font-family: HK Grotesk Pro;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Regular.otf')
    format('opentype');
  font-size: 12px;
}
@font-face {
  font-family: HK Grotesk regular;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Regular.otf')
    format('opentype');
  font-size: 12px;
}
@font-face {
  font-family: HKGrotesk-SemiBoldLegacy;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-SemiBoldLegacy.otf')
    format('opentype');
  font-size: 12px;
}
@font-face {
  font-family: HKGrotesk-Medium;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/HKGroteskPro-Regular.otf')
    format('opentype');
  font-size: 12px;
}
@font-face {
  font-family: HKGrotesk-Medium;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Medium.otf')
    format('opentype');
  font-size: 12px;
}

/*new design webflow*/
#lightboxFrame,
#lightboxFrame2 {
  width: 100% !important;
  z-index: 1080 !important;
  position: relative !important;
  bottom: 0 !important;
  border: none !important;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: flex;
  height: 250px;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card-loader {
  opacity: 0.8;
  position: fixed;
  z-index: 10500;
  width: 87%;
  margin-inline-start: 90px;
  border-radius: 0.5rem;
  height: 130px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}
.card-body-loader {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}
.sr-only-pop {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.spinner-border-pop {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-block-start: 40px;
}
@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.wrapper-cell {
  display: -webkit-box;
  display: flex;
  margin: 0px !important;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-background,
.imageLoader,
.text-line-Loader {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, #f6f6f6),
    color-stop(18%, #f0f0f0),
    color-stop(33%, #f6f6f6)
  );
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.imageLoader {
  height: 122px !important;
  width: 100% !important;
}

.textLoader {
  margin-left: 50px !important;
}

.text-line-Loader {
  height: 10px !important;
  width: 100% !important;
  margin: 4px 0 !important;
}
/*loader css end*/
.everBee__custom_view_hover .tagcolor:hover {
  color: darkgrey;
}
#revenue-h-box {
  /*margin-inline-start: -12px;*/
  width: 88px;
}
.default-none {
  display: none !important;
}
.default-show {
  display: block !important;
  margin-top: 15px !important;
}
.default-m-css2 {
  margin-inline-start: 15px !important;
}
#upgrade-text {
  padding-block-end: 5px;
}
#premium-btn-matrix {
  padding: 4px !important;
  position: absolute;
  width: 162px;
  height: 35px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 25px;
  margin-block-start: -18px;
  margin-inline-start: 10px;

  background: rgb(249, 251, 253);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(228, 235, 245);
  border-image: initial;
  border-radius: 6px;
  cursor: pointer !important;
  background: #f9fbfd !important;
  border: 1px solid #e4ebf5 !important;
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  border-top: 1px solid #e4ebf5 !important;
}
#tags-title-h {
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #99aac6;
}
#collaps-row-html {
  padding-block-start: 20px !important;
}
.shopLineHoverText {
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  display: flex;
  align-items: center;
  color: #12263f;
  text-decoration: none !important;
}
.custom-text-box {
  display: inherit !important;
  overflow-wrap: break-word !important;
  text-align: left !important;
}
.box-close-icon {
  position: absolute;
  top: 0;
  right: 3%;
  margin: 5px 10px 0px 0px !important;
  cursor: pointer !important;
}
.summary-table-section {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  border: 1px solid #e4ebf5;
}
tr.default-m-css1 td .sq {
  margin-block-start: 10px !important;
  display: inline-block !important;
}
.sq ul li {
  padding: 2px !important;
}
tr.pre-matrix-tr {
  display: inline-block !important;
  /*padding-inline-start:15px !important;*/
  /*margin-inline-start:20px !important;*/
}
tr.default-m-css1 {
  display: inline-block !important;
  margin-inline-start: -35px !important;
}
#upgrade-text {
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 10px;
  align-items: center;
  text-align: center;
  color: #506690;
}
#upgrade-desc {
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 10px;
  align-items: center;
  text-align: center;
  color: #99aac6;
}
#copyAllBtnhover {
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 7px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #99aac6;
}
.p-fix {
  position: fixed !important;
}
.box-close-icon {
  float: right !important;
}
.tag-box-m {
  margin-block-start: -12px !important;
}
.custom-top-margin {
  margin-block-start: -5px !important;
}
.custom-top-margin1 {
  margin-block-start: 5px !important;
}
.custom-title-box {
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  /* or 204% */
  text-align: left;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  color: #12263f;
}
.custom-title-box a {
  text-decoration: none !important;
}
.custom-text-box {
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  /*line-height: 22px;*/
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #506690;
}
.custom-tags-box {
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 10px !important;
  line-height: 15px !important;
  letter-spacing: -0.03em !important;
  color: #161c2d;
}
.custom-box1 {
  width: 280px;
  height: 60px;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #12263f;
  margin-block-start: 20px !important;
}
.c4ustom-m {
  padding-left: 10px !important;
  padding-right: 0px !important;
}
.outerVr1 {
  height: 75%;
  width: 1px;
  background: #e4ebf5;
  margin: 0 auto;
  top: 15px;
  bottom: 0;
  position: absolute;
  display: table-cell;
  left: 10%;
}
.outerVr2 {
  height: 75%;
  width: 1px;
  top: 15px;
  bottom: 0px;
  position: absolute;
  display: table-cell;
  left: 35%;
  background: #e4ebf5;
}
.outerVr3 {
  height: 75%;
  width: 1px;
  top: 15px;
  bottom: 0px;
  position: absolute;
  display: table-cell;
  left: 52%;
  background: #e4ebf5;
}
.outerVr4 {
  height: 75%;
  width: 1px;
  top: 15px;
  bottom: 0px;
  position: absolute;
  display: table-cell;
  left: 80%;
  background: #e4ebf5;
}
.image-h-box {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='39' height='34' viewBox='0 0 39 34' fill='none'%3e%3cg id='everBee-fav'%3e%3cpath id='Vector' d='M25.2865 13.1509C24.4966 14.565 23.6263 15.9347 22.8378 17.3488C21.6983 19.3915 20.4829 21.3914 19.3478 23.4326C18.2707 25.3703 17.1937 27.311 16.072 29.2221C15.1154 30.8507 13.7586 32.1553 11.905 32.7884C10.9083 33.1286 9.85501 33.2647 8.79728 33.2794C7.54169 33.2957 6.2861 33.2824 5.03052 33.2824C3.71096 33.2824 2.38991 33.3016 1.07036 33.2765C0.0156023 33.2573 -0.307221 33.0088 0.31611 31.9793C1.63864 29.7945 2.87192 27.558 4.19147 25.3718C5.46789 23.2596 6.5643 21.0393 7.84964 18.933C9.11266 16.8607 10.2894 14.741 11.545 12.6658C12.6726 10.8035 13.7214 8.89387 14.8119 7.01089C15.6554 5.55539 16.5168 4.1132 17.3543 2.65622C17.7887 1.89888 18.1562 1.10605 18.6739 0.397527C19.0592 -0.127578 19.2645 -0.143848 19.6081 0.416757C20.2657 1.49063 20.892 2.58374 21.5242 3.67241C22.8959 6.0302 24.2214 8.4161 25.648 10.7399C26.252 11.725 25.7001 12.4128 25.2865 13.1509Z' fill='%23407CDE'/%3e%3cpath id='Vector_2' d='M37.5037 32.861C35.9816 32.8669 34.4596 32.8625 32.5473 32.8625C31.1374 32.7877 29.3343 32.9754 27.5341 32.7613C25.6921 32.5412 24.3495 31.6025 23.4091 30.0858C22.2444 28.2083 22.2758 26.2971 23.3822 24.402C24.5214 22.4497 25.6772 20.5077 26.8269 18.5598C27.2246 17.888 27.6523 17.2323 28.0126 16.5415C28.2682 16.0501 28.5419 16.1968 28.7123 16.5165C29.3507 17.7105 30.0504 18.8722 30.7352 20.0383C31.4005 21.1736 32.1122 22.2884 32.785 23.4222C33.9288 25.3466 35.0606 27.2755 36.2029 29.1984C36.7785 30.1709 37.3706 31.1346 37.9477 32.1056C38.2871 32.6733 38.181 32.8581 37.5037 32.861Z' fill='%23407CDE'/%3e%3c/g%3e%3c/svg%3e");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  margin-block-start: 35px;
}
li.matrix-num {
  width: 42px;
  height: 14px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #12263f;
  border-radius: 6px;
}
li.matrix-tag {
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 12px;
  margin-inline-start: -7px !important;
  /* or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #99aac6;
}
.nopadding {
  padding: 0px !important;
}
#hover-popup td:not(.premium-btn-matrix) {
  display: table-cell;
  vertical-align: inherit;
  text-align: center;
  padding: 8px;
  border-top: none !important;
}
.text-center {
  text-align: center;
}
.box-layout a {
  color: #2064bb;
  text-decoration: none;
}
#hover-popup .everBee-logo-b {
  width: 100px;
}
#hover-popup .tag-box {
  width: 105px;
  height: 66px;
  display: inline-flex;
  padding: 8px 8px 25px 29px;
}
#hover-popup .titleBox {
  width: 280px;
  height: 60px;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  align-items: center;
  color: #12263f;
}
.summary-table {
  display: table !important;
  margin-top: 0 !important;
  height: 120px !important;
  border: none !important;
}
#matrix-table {
  border: none !important;
  display: table !important;
  margin-top: 0px !important;
  height: 90px !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
}

td.secondBox {
  width: 280px;
  height: 60px;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  align-items: center;
  color: #12263f;
  border-radius: 6px;
}
/*===========*/
#hover-popup {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  left: 68px;
  top: 122px;
}
.everBee-hover-img {
  width: 24px !important;
  height: 24px !important;
  cursor: pointer !important;
}
.custom-everBee-icon-hover {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  top: unset;
  height: 44px;
  width: 44px;
  outline: none;
  border: none;
}
.custom-everBee-icon-hover img {
  transition: transform 0.2s ease-in-out;
}

.custom-everBee-icon-hover:hover img {
  transform: scale(1.3);
}

/* .img {
  background-image: url('../images/listing-icon.svg') 50% 50% no-repeat !important;
} */

.custom-everBee-icon-hover1 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 50px !important;
  width: 50px !important;
  outline: none !important;
  border: none !important;
  background-color: transparent;
  cursor: pointer;
}

.custom-everBee-icon-hover1 img {
  transition: transform 0.2s ease-in-out;
}

.custom-everBee-icon-hover1:hover img {
  transform: scale(1.2);
}

/*custom odal*/
.fancybox-bg {
  background: rgb(86, 98, 117) !important;
  opacity: 0.75 !important;
}
.paymentBox .d-flex {
  display: flex !important;
}
/*pricing swich*/

#pricing-modal-everBee .align-items-center {
  -webkit-box-align: center !important;
  align-items: center !important;
}
#pricing-modal-everBee .justify-content-center {
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

#pricing-modal-everBee .d-flex {
  display: -webkit-box !important;
  display: flex !important;
}

#pricing-modal-everBee {
  display: flex !important;
  text-align: center;
  -webkit-box-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  padding: 7px 0px 7px !important ;
}

#pricing-modal-everBee .custom-switch {
  min-height: 1.375rem !important;
}

#pricing-modal-everBee .ml-3,
#pricing-modal-everBee .mx-3 {
  margin-left: 0.75rem !important;
}

#pricing-modal-everBee .mr-3,
#pricing-modal-everBee .mx-3 {
  margin-right: 0.75rem !important;
}

#pricing-modal-everBee .custom-switch {
  padding-left: 3rem !important;
}

/*#pricing-modal-everBee .custom-control {
    position: relative !important;
    display: block !important;
    min-height: 1.7rem !important;
    padding-left: 1.5rem !important;
}
*/
#pricing-modal-everBee input[type='checkbox'],
#pricing-modal-everBee input[type='radio'] {
  box-sizing: border-box !important;
  padding: 0 !important;
}

#pricing-modal-everBee .custom-control-input {
  position: absolute !important;
  left: 0 !important;
  z-index: -1 !important;
  width: 1rem !important;
  height: 1.35rem !important;
  opacity: 0 !important;
}
#pricing-modal-everBee .custom-control-label {
  position: relative !important;
  margin-bottom: 0 !important;
  vertical-align: top !important;
}

#pricing-modal-everBee label {
  display: inline-block !important;
  margin-bottom: 0.5rem !important;
}

#pricing-modal-everBee .custom-switch-dark .custom-control-label::before {
  background-color: #0060b4 !important;
}

/*#pricing-modal-everBee .custom-switch .custom-control-label::before {
    top: .1625rem !important;
    height: 1.375rem !important;
    border-radius: .6875rem !important;
}

#pricing-modal-everBee .custom-switch .custom-control-label::before {
    left: -3rem !important;
    width: 2.5rem !important;
    pointer-events: all !important;
    
    }*/

#pricing-modal-everBee .custom-control-label::before,
#pricing-modal-everBee .custom-file-label,
.custom-select {
  -webkit-transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out !important;
}

#pricing-modal-everBee .custom-control-label::before {
  top: 0.1625rem;
  height: 1.375rem;
  border-radius: 0.6875rem;
  left: -3rem;
  width: 3rem !important;
  pointer-events: all;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border: #abbcd5 solid 0;
}

#pricing-modal-everBee .custom-switch .custom-control-label::after {
  top: 0.35rem !important;
  /*left: -2.8125rem !important;*/
  background-color: #fff !important;
}

#pricing-modal-everBee .custom-control-label::after {
  top: 0.35rem;
  left: -3rem;
  width: 1rem;
  height: 1rem;
  content: '';
  background: no-repeat 50%/50% 50%;
  background-color: #fff !important;
}

/*custom made feedback css*/
.everBee__custom_view td.collaps-row-html {
  border-top: none !important;
}
.everBee__custom_view .t-costom {
  color: rgb(204, 209, 218) !important;
  font-size: 14px !important;
}
.everBee__custom_view .t-text {
  font-family: HK Grotesk Pro !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #12263f !important;
  border-radius: 6px !important;
}

.everBee__custom_view .ListingTags {
  margin-inline-start: -3px;
  width: 320px;
}
.everBee__custom_view .card-body.pl-0 {
  padding: 2rem 0.5rem 1rem !important;
}
.everBee__custom_view #connect_etsy_btn,
.everBee__custom_view #strat_now_btn {
  width: 190px !important;
  height: 50px !important;
  background: #0060b4 !important;
  border-radius: 5px !important;
  padding: 15px 60px !important;
}
.everBee__custom_view .text-muted.text-center.mb-5 {
  margin-bottom: 29px !important;
}
.everBee__custom_view .login-btns-a {
  height: 50px !important;
  background-color: #0060b4 !important;
}
.everBee__custom_view #signH1,
.everBee__custom_view #signLoginH1 {
  font-size: 31px !important;
  color: #161c2d !important;
  font-weight: 600 !important;
}

.everBee__custom_view .eye-pass-f {
  border-right: none !important;
}
.modal-dilog-everBee {
  /*padding: 0px 35px !important;*/
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 100%;
}
.welcome-model .modal-content {
  border: 0px solid rgba(0, 0, 0, 0.2) !important;
}
.everBee__custom_view #search_keyword {
  font-style: italic !important;
  display: contents;
}
.everBee__custom_view #list-length {
  display: contents;
}
.everBee__custom_view .search_keyword_div {
  float: left;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #99aac6;
  padding-inline-start: 20px !important;
}
.everBee__custom_view .logo-pad {
  padding: 0px !important;
}
.everBee__custom_view td,
.everBee__custom_view th {
  padding: 4px;
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
}
.everBee__custom_view th a,
.everBee__custom_view td a {
  display: block;
  width: 100%;
}
.everBee__custom_view th a.sort-by,
.everBee__custom_view th a.f1-a,
.everBee__custom_view th a.f2-a {
  padding-right: 5px;
  position: relative;

  /*text-align: right;*/
}
.everBee__custom_view a.sort-by:before,
.everBee__custom_view a.f1-a:before,
.everBee__custom_view a.f2-a:before,
.everBee__custom_view a.sort-by:after,
.everBee__custom_view a.f1-a:after,
.everBee__custom_view a.f2-a:after {
  border: 4px solid transparent;
  content: '';
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
.everBee__custom_view a.sort-by:before,
.everBee__custom_view a.f1-a:before,
.everBee__custom_view a.f2-a:before {
  border-bottom-color: rgb(149, 170, 201) !important;
  margin-top: -9px;
}
.everBee__custom_view a.sort-by:after,
.everBee__custom_view a.f1-a:after,
.everBee__custom_view a.f2-a:after {
  border-top-color: rgb(149, 170, 201) !important;
  margin-top: 1px;
}
.everBee__custom_view .logo-box {
  background-repeat: no-repeat !important;
}
.everBee__custom_view .login-btns-a {
  font-family: HK Grotesk regular;
  font-size: 16px !important;
  line-height: 19px !important;
  text-align: center !important;
  color: #ffffff !important;
}
.ms-style {
  min-height: 0 !important;
  background-color: #fff;
}
.modal.fade.show {
  z-index: 2 !important;
  background: #56627569 !important;
}
.fancybox-slide {
  background-color: transparent !important;
}

.everBee__custom_view {
  background: transparent !important;
  /*font-family: HK Grotesk regular !important;*/
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/HKGrotesk-Regular.otf')
    format('opentype');
  font-size: 12px;
  font-family: 'HK Grotesk' !important;
}

.everBee__custom_view .table {
  font-family: 'HK Grotesk' !important;
}
.avatar-img {
  width: 30px !important;
  height: 30px !important;
  vertical-align: middle !important;
  margin-inline-start: -10px !important;
  margin-block-start: -5px !important;
}

.everBee__custom_view #title1 {
  /*width: 80%;*/
  width: auto !important;
  margin-left: 0px !important;

  /*padding: 0.5rem 0.5rem 0.5rem 18.5rem !important;*/
  /*padding: 0.5rem 0.5rem 0.5rem 18.5rem !important;*/
}

.everBee__custom_view .brandname {
  width: auto;
}

.everBee__custom_view .modal-content {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.everBee__custom_view .modal-content:before,
.everBee__custom_view .modal-content:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.everBee__custom_view .modal-content:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
/*
#myTable th.asc:after {
  display: inline;
  content: '↓';
}

#myTable th.desc:after {
  display: inline;
  content: '↑';
  }*/
.everBee__custom_view .trendsHeading {
  width: 439px;
  height: 19px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  color: #12263f;
  border-radius: 6px;
  margin-left: 7px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
}

::-webkit-scrollbar-thumb:active {
  background: #c8c8c8;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #ebebeb;
}

::-webkit-scrollbar-track:active {
  background: #ebebeb;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
.everBee__custom_view .NotAvailableClass {
  color: red !important;
  font-weight: 500;
}

.everBee__custom_view #title1 h6 {
  font-family: HKGrotesk-SemiBoldLegacy !important;
  font-size: 12px !important;
  line-height: 12px !important;
  color: #99aac6 !important;
  margin-bottom: 11px !important;
  font-weight: bold !important;
  letter-spacing: normal !important;
}
.everBee__custom_view .btn {
  padding: 0.44rem 0.75rem 0.5rem;
}

.everBee__custom_view #mainPopup {
  width: 1304px;
  height: 723px;
  left: 68px;
  top: 111px;
  font-family: HK Grotesk !important;
}

.everBee__custom_view .brand-name {
  width: 150px;
  height: 33.29px;
  left: 111px;
  top: 166px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='150' height='34' viewBox='0 0 150 34' fill='none'%3e%3cpath d='M25.2865 13.1509C24.4966 14.565 23.6263 15.9347 22.8378 17.3488C21.6983 19.3915 20.4829 21.3914 19.3478 23.4326C18.2707 25.3703 17.1937 27.311 16.072 29.2221C15.1154 30.8507 13.7586 32.1553 11.905 32.7884C10.9083 33.1286 9.85501 33.2647 8.79728 33.2794C7.54169 33.2957 6.2861 33.2824 5.03052 33.2824C3.71096 33.2824 2.38991 33.3016 1.07036 33.2765C0.0156023 33.2573 -0.307221 33.0088 0.31611 31.9793C1.63864 29.7945 2.87192 27.558 4.19147 25.3718C5.46789 23.2596 6.5643 21.0393 7.84964 18.933C9.11266 16.8607 10.2894 14.741 11.545 12.6658C12.6726 10.8035 13.7214 8.89387 14.8119 7.01089C15.6554 5.55539 16.5168 4.1132 17.3543 2.65622C17.7887 1.89888 18.1562 1.10605 18.6739 0.397527C19.0592 -0.127578 19.2645 -0.143848 19.6081 0.416757C20.2657 1.49063 20.892 2.58374 21.5242 3.67241C22.8959 6.0302 24.2214 8.4161 25.648 10.7399C26.252 11.725 25.7001 12.4128 25.2865 13.1509Z' fill='%23407CDE'/%3e%3cpath d='M37.5039 32.861C35.9819 32.8669 34.4598 32.8625 32.5476 32.8625C31.1377 32.7877 29.3345 32.9754 27.5344 32.7613C25.6924 32.5412 24.3497 31.6025 23.4093 30.0858C22.2446 28.2083 22.276 26.2971 23.3824 24.402C24.5217 22.4497 25.6774 20.5077 26.8272 18.5598C27.2249 17.888 27.6525 17.2323 28.0128 16.5415C28.2685 16.0501 28.5421 16.1968 28.7125 16.5165C29.351 17.7105 30.0507 18.8722 30.7355 20.0383C31.4008 21.1736 32.1125 22.2884 32.7853 23.4222C33.9291 25.3466 35.0609 27.2755 36.2032 29.1984C36.7788 30.1709 37.3709 31.1346 37.948 32.1056C38.2874 32.6733 38.1812 32.8581 37.5039 32.861Z' fill='%23407CDE'/%3e%3cpath d='M69.7816 30.9711H77.6615L67.0426 2.86475H57.9407L47.3639 30.9711H55.2438L56.6765 26.7152H68.3489L69.7816 30.9711ZM62.4916 9.18553L66.4526 20.6051H58.5727L62.4916 9.18553Z' fill='%231A1D3C'/%3e%3cpath d='M79.5689 30.9711H86.0583V2.86475H79.5689V30.9711Z' fill='%231A1D3C'/%3e%3cpath d='M104.499 30.9711H110.988V10.6182H104.499V23.7655C103.741 24.7346 102.476 25.746 100.622 25.746C98.5155 25.746 97.2513 24.9032 97.2513 22.4592V10.6182H90.762V25.1139C90.762 28.8642 92.8268 31.4768 97.462 31.4768C100.875 31.4768 103.235 29.9598 104.499 28.5271V30.9711Z' fill='%231A1D3C'/%3e%3cpath d='M115.699 30.9711H122.189V18.0768C123.032 16.8969 125.265 16.1805 126.95 16.1805C127.625 16.1805 128.172 16.2648 128.552 16.3912V10.1126C126.108 10.1126 123.537 11.5453 122.189 13.1887V10.6182H115.699V30.9711Z' fill='%231A1D3C'/%3e%3cpath d='M143.511 30.9711H150V18.2453C150 11.9245 145.407 10.1126 140.519 10.1126C137.401 10.1126 133.903 11.0396 131.291 13.273L133.608 17.3604C135.252 15.9698 137.359 15.2113 139.381 15.2113C141.994 15.2113 143.511 16.3912 143.511 18.161V20.7315C142.289 19.2145 139.887 18.3717 137.19 18.3717C134.072 18.3717 130.195 19.8466 130.195 24.7768C130.195 29.3699 134.072 31.4768 137.19 31.4768C139.803 31.4768 142.247 30.4655 143.511 28.9485V30.9711ZM143.511 25.746C142.837 26.7152 141.32 27.2208 139.887 27.2208C138.159 27.2208 136.642 26.4623 136.642 24.8611C136.642 23.2598 138.159 22.5013 139.887 22.5013C141.32 22.5013 142.837 23.007 143.511 23.934V25.746Z' fill='%231A1D3C'/%3e%3c/svg%3e");
  cursor: pointer;
}

.everBee__custom_view h6.text-muted {
  font-size: 12px;
}

.everBee__custom_view .h2 {
  font-size: 24px !important;
  color: #12263f !important;
}

.everBee__custom_view #icTrending {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3e%3ccircle cx='16' cy='16' r='16' fill='%23C6D3E6'/%3e%3cpath d='M24 16.8V12H19.2' stroke='%23506690' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M24 12L18.3545 17.6455C18.2554 17.7446 18.1378 17.8233 18.0084 17.8769C17.8789 17.9306 17.7401 17.9582 17.6 17.9582C17.4599 17.9582 17.3211 17.9306 17.1916 17.8769C17.0622 17.8233 16.9446 17.7446 16.8455 17.6455L14.6212 15.4212C14.5221 15.322 14.4045 15.2434 14.275 15.1898C14.1456 15.1361 14.0068 15.1085 13.8667 15.1085C13.7265 15.1085 13.5878 15.1361 13.4583 15.1898C13.3289 15.2434 13.2112 15.322 13.1122 15.4212L8 20.5333' stroke='%23506690' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  margin-right: 10px;
  display: inline-flex;
  width: 32px;
  height: 32px;
  left: 1122px;
  top: 176px;
}

.everBee__custom_view #icTrending:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3e%3ccircle cx='16' cy='16' r='16' fill='%23407CDE'/%3e%3cpath d='M24 16.8V12H19.2' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M24 12L18.3545 17.6455C18.2554 17.7446 18.1378 17.8233 18.0084 17.8769C17.8789 17.9306 17.7401 17.9582 17.6 17.9582C17.4599 17.9582 17.3211 17.9306 17.1916 17.8769C17.0622 17.8233 16.9446 17.7446 16.8455 17.6455L14.6212 15.4212C14.5221 15.322 14.4045 15.2434 14.275 15.1898C14.1456 15.1361 14.0068 15.1085 13.8667 15.1085C13.7265 15.1085 13.5878 15.1361 13.4583 15.1898C13.3289 15.2434 13.2112 15.322 13.1122 15.4212L8 20.5333' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  margin-right: 10px;
  display: inline-flex;
  height: 32px;
  width: 32px;
  left: 1122px;
  top: 176;
}

.everBee__custom_view #ichelp {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3e%3ccircle cx='16' cy='16' r='16' fill='%23C6D3E6'/%3e%3cpath d='M13 12.9994C13.0001 12.4495 13.1514 11.9101 13.4373 11.4403C13.7233 10.9705 14.1328 10.5883 14.6213 10.3356C15.1097 10.0828 15.6583 9.96921 16.2069 10.0071C16.7556 10.0451 17.2833 10.2331 17.7323 10.5507C18.1813 10.8682 18.5344 11.3031 18.7529 11.8078C18.9715 12.3125 19.0471 12.8675 18.9715 13.4123C18.8959 13.9571 18.6721 14.4705 18.3244 14.8967C17.9767 15.3228 17.5185 15.6451 17 15.8284C16.7074 15.9319 16.4541 16.1235 16.275 16.3769C16.0959 16.6304 15.9998 16.9331 16 17.2434V18.2494' stroke='%23506690' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16 21.2495C15.9258 21.2495 15.8533 21.2714 15.7917 21.3126C15.73 21.3539 15.6819 21.4124 15.6535 21.4809C15.6252 21.5495 15.6177 21.6249 15.6322 21.6976C15.6467 21.7704 15.6824 21.8372 15.7348 21.8896C15.7873 21.9421 15.8541 21.9778 15.9268 21.9922C15.9996 22.0067 16.075 21.9993 16.1435 21.9709C16.212 21.9425 16.2706 21.8945 16.3118 21.8328C16.353 21.7711 16.375 21.6986 16.375 21.6245C16.375 21.525 16.3355 21.4296 16.2652 21.3593C16.1948 21.289 16.0995 21.2495 16 21.2495Z' fill='%23506690' stroke='%23506690' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  margin-right: 10px;
  display: inline-flex;
  width: 32px;
  height: 32px;
  left: 1170px;
  top: 176px;
}

.everBee__custom_view #ichelp:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3e%3ccircle cx='16' cy='16' r='16' fill='%23407CDE'/%3e%3cpath d='M13 12.9994C13.0001 12.4495 13.1514 11.9101 13.4373 11.4403C13.7233 10.9705 14.1328 10.5883 14.6213 10.3356C15.1097 10.0828 15.6583 9.96921 16.2069 10.0071C16.7556 10.0451 17.2833 10.2331 17.7323 10.5507C18.1813 10.8682 18.5344 11.3031 18.7529 11.8078C18.9715 12.3125 19.0471 12.8675 18.9715 13.4123C18.8959 13.9571 18.6721 14.4705 18.3244 14.8967C17.9767 15.3228 17.5185 15.6451 17 15.8284C16.7074 15.9319 16.4541 16.1235 16.275 16.3769C16.0959 16.6304 15.9998 16.9331 16 17.2434V18.2494' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M16 21.2495C15.9258 21.2495 15.8533 21.2715 15.7917 21.3127C15.73 21.3539 15.6819 21.4125 15.6535 21.481C15.6252 21.5495 15.6177 21.6249 15.6322 21.6977C15.6467 21.7704 15.6824 21.8372 15.7348 21.8897C15.7873 21.9421 15.8541 21.9778 15.9268 21.9923C15.9996 22.0068 16.075 21.9993 16.1435 21.971C16.212 21.9426 16.2706 21.8945 16.3118 21.8329C16.353 21.7712 16.375 21.6987 16.375 21.6245C16.375 21.5251 16.3355 21.4297 16.2652 21.3593C16.1948 21.289 16.0995 21.2495 16 21.2495Z' fill='white' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  margin-right: 10px;
  display: inline-flex;
  height: 32px;
  width: 32px;
  left: 1122px;
  top: 176;
}

.everBee__custom_view #exportButton {
  width: 102px !important;
  height: 40px !important;
  left: 1218px !important;
  top: 172px !important;
  font-size: 16px !important;
  background: #0060b4 !important;
  margin-left: 3px !important;
  text-align: center !important;
  font-family: HK Grotesk regular;
}

.everBee__custom_view #exportButton:hover {
  color: #fff !important;
  background-color: #005488 !important;
  border-color: #005488 !important;
}

/*#exportButton:hover {
            transition: box-shadow .25s ease, transform .25s ease;
            }*/

.everBee__custom_view #title1 {
  /* width: 561px;*/
  left: 537px;
  top: 142px;
  margin-left: 10px;
  margin-right: 0px;
}

.everBee__custom_view #title {
  width: 100%;
  justify-content: space-between !important;
  left: 111px;
  top: 142px;
  line-height: 0.5;
  margin: 0;
}

.everBee__custom_view .AverageSales {
  width: 171px;
  height: 74px;
  left: 537px;
  top: 142px;
  color: #0e0f0f;
  background: #ffffff;
}

.everBee__custom_view .AveragePrice {
  width: 171px;
  height: 74px;
  left: 732px;
  top: 142px;
  margin-left: 24px;
  background: #ffffff;
}

.everBee__custom_view .AverageReviews {
  width: 171px;
  height: 74px;
  left: 732px;
  top: 142px;
  margin-left: 24px;
  background: #ffffff;
}

.everBee__custom_view .AverageFavourites {
  width: 171px;
  height: 74px;
  left: 927px;
  top: 142px;
  margin-left: 24px;
  background: #ffffff;
}

.everBee__custom_view .group-65 {
  width: auto !important;
  height: 40px;
  left: 1122px;
  top: 172px;
  margin-left: 21px;
  margin-top: 30px;
}

.everBee__custom_view #myTable {
  width: 100%;
  /* height: 556px; */
  /* left: 110px;
            top: 232px; */
}

.everBee__custom_view .regular-checkbox {
  -webkit-appearance: none;
  background-color: #d9e2ef;
  border: 1px solid #d9e2ef;
  padding: 8px !important;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.everBee__custom_view #copyallButton {
  text-decoration: underline;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-decoration-line: underline;
  color: #99aac6;
  border-radius: 6px;
}

.everBee__custom_view #copyallButton:hover {
  color: #12263f;
}

.everBee__custom_view .copyallButton {
  margin-inline-start: 45px;
  font-family: HK Grotesk Pro;
  text-decoration: underline;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-decoration-line: underline;
  color: #99aac6;
  border-radius: 6px;
}
.everBee__custom_view #exp-btn,
#spinner-btn {
  font-family: HKGrotesk-Medium;
  transition: all 0.2s;
}
.everBee__custom_view #spinner-btn {
  padding: 0px 0px 0px 3px;
}
.everBee__custom_view #exp-btn {
  font-family: HKGrotesk-SemiBoldLegacy;
  transition: all 0.2s;
  padding: 0.05rem 0.75rem 0.5rem;
}
.everBee__custom_view .btn-primary:hover {
  background: #005488 !important;
}

.everBee__custom_view .copyallButton:hover {
  color: #12263f;
}

/* .regular-checkbox:active, .regular-checkbox:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        } */

.everBee__custom_view .regular-checkbox:checked {
  background-color: #0060b4;
  border: 1px solid #d9e2ef;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); */
  color: #0e0f0f;
}

.everBee__custom_view .regular-checkbox:checked:after {
  /*content: '\2714';
            font-size: 12px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #ffffff;*/
  content: '';
  position: absolute;
  top: 2px !important;
  left: 5px !important;
  width: 6px !important;
  height: 10px !important;

  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.everBee__custom_view .vl {
  /*  border-left: 2px solid rgb(190, 196, 190);*/
  border-left: 1px solid #e4ebf5;
  padding-left: 30px;
}

.everBee__custom_view .imagecontainer {
  width: 250px;

  /* background-image: url("images/il_340x270.1429610633_o3jy.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.everBee__custom_view p h1 {
  font-family: HK Grotesk;
  font-size: 16px;
  color: #12263f;
}

.everBee__custom_view h1 {
  font-style: Bold;
}

.everBee__custom_view .basicbutton {
  background-color: #d9e2ef;
  display: block;
  width: 395px;
  border: darkgrey;
  padding: 9px 9px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: #506690;
  border-radius: 8px;
}

.everBee__custom_view .listingtags {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.everBee__custom_view .listingtags:hover {
  color: darkgrey;
  cursor: pointer;
}

.everBee__custom_view .tagcolor {
  color: #161c2d;
}

.everBee__custom_view .tagcolor:hover {
  color: darkgrey;
}

.everBee__custom_view .vectoricon {
  width: 10px;
  height: 7.78px;
  right: 178px;
  visibility: hidden;
  border: none;
  background: none;
  /* border: 2px solid #161C2D; */
}

.everBee__custom_view tr:hover .vectoricon {
  visibility: visible;
}

.everBee__custom_view h6 {
  color: darkgrey;
  /* font-family: sans-serif;
            font-size: small; */
}

.everBee__custom_view .table-sm td,
.everBee__custom_view .table-sm th {
  padding: 0.9375rem;
  padding: 1.3rem 0.9375rem 0.9375rem;
}
.everBee__custom_view .p-img {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.everBee__custom_view .card-body {
  /* flex: 1 1 auto; */
  padding: 0rem 0rem 1.5rem !important;
  /*background: #fbfbfb;*/
  /*border: 0px #E4EBF5;*/
  /* box-sizing: border-box;
           box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.04);*/
  /* border-radius: 6px; */
  padding-right: 0;
}

/*spinner */
.everBee__custom_view #spnr {
  display: inline;
  margin-right: 0px;
}

.everBee__custom_view .fa fa-spinner fa-spin {
  /* background:#222; */
  color: #fff;
  font-size: 30px;
}

.everBee__custom_view .footer {
  position: relative;
  width: 100%;
  height: 10px;
  font-family: 'HK Grotesk regular';
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: rgb(205, 214, 231);
  z-index: 1;
  bottom: 0;
}

.everBee__custom_view .btn-icon {
  padding: 0 !important;
}

.everBee__custom_view .sort-icon {
  padding-bottom: 0px;
  cursor: pointer !important;
  float: right;
}

.everBee__custom_view .info-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.416626 4.99996C0.416626 7.53126 2.46865 9.58329 4.99996 9.58329C7.53126 9.58329 9.58329 7.53126 9.58329 4.99996C9.58329 2.46865 7.53126 0.416626 4.99996 0.416626C2.46865 0.416626 0.416626 2.46865 0.416626 4.99996ZM8.74996 4.99996C8.74996 7.07103 7.07103 8.74996 4.99996 8.74996C2.92889 8.74996 1.24996 7.07103 1.24996 4.99996C1.24996 2.92889 2.92889 1.24996 4.99996 1.24996C7.07103 1.24996 8.74996 2.92889 8.74996 4.99996ZM5.41814 5.83278H5.83454V6.66611H4.16787V5.83278H4.58454V4.99944H4.16787V4.16611H5.41814V5.83278ZM5.4169 3.33278C5.4169 3.5629 5.23029 3.74944 5.0001 3.74944C4.7699 3.74944 4.58329 3.5629 4.58329 3.33278C4.58329 3.10266 4.7699 2.91611 5.0001 2.91611C5.23029 2.91611 5.4169 3.10266 5.4169 3.33278Z' fill='%2399AAC6'/%3e%3c/svg%3e")
    no-repeat;
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.everBee__custom_view .info-icon:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.416626 4.99984C0.416626 7.53114 2.46865 9.58317 4.99996 9.58317C7.53126 9.58317 9.58329 7.53114 9.58329 4.99984C9.58329 2.46853 7.53126 0.416504 4.99996 0.416504C2.46865 0.416504 0.416626 2.46853 0.416626 4.99984ZM8.74996 4.99984C8.74996 7.07091 7.07103 8.74984 4.99996 8.74984C2.92889 8.74984 1.24996 7.07091 1.24996 4.99984C1.24996 2.92877 2.92889 1.24984 4.99996 1.24984C7.07103 1.24984 8.74996 2.92877 8.74996 4.99984ZM5.41814 5.83266H5.83454V6.66599H4.16787V5.83266H4.58454V4.99932H4.16787V4.16599H5.41814V5.83266ZM5.4169 3.33266C5.4169 3.56277 5.23029 3.74932 5.0001 3.74932C4.7699 3.74932 4.58329 3.56277 4.58329 3.33266C4.58329 3.10254 4.7699 2.91599 5.0001 2.91599C5.23029 2.91599 5.4169 3.10254 5.4169 3.33266Z' fill='%2312263F'/%3e%3c/svg%3e");
}
.everBee__custom_view div.tooltipm {
  position: relative;
  /* Relative to the span elements */
}

.everBee__custom_view .tooltipm::before,
.everBee__custom_view .tooltipm::after {
  position: absolute;
  left: 50%;
  display: block;
  opacity: 0;
  z-index: -999;
  /* This ensures that the tooltips are not visible without user interaction */
}

.everBee__custom_view .tooltipm:hover::before,
.everBee__custom_view .tooltipm:focus::before,
.everBee__custom_view .tooltipm:hover::after,
.everBee__custom_view .tooltipm:focus::after {
  /* Select bother hover and focus to accomodate users without a keyboard */
  opacity: 1;
  z-index: 999;
}

/* --- Creates a triangle shape with borders ---
        https://css-tricks.com/animation-css-triangles-work/ */
.everBee__custom_view .tooltipm::before {
  content: '';
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  /* Creates a triangle with the point facing down */
  /* The thinner the left and right borders the sharper the triangle */
  border-color: rgb(228, 235, 245) transparent transparent transparent;
  bottom: 100%;
  /* Bump it up above the span element */
  margin-left: -0.5em;
  /* Center the arrow, given that it has been moved left 50% */
}

.everBee__custom_view .tooltipm:after {
  content: attr(data-tip);
  /* This is where the magic happens. See for more details: 
            http://tympanus.net/codrops/css_reference/attr/ */
  background-color: rgb(228, 235, 245);
  border-radius: 0.25em;
  bottom: 170%;
  width: 13.5em;
  padding: 1em 0.5em;
  margin-left: -6.75em;
  /* margin-left is negative and half the width to center the bubble */
  color: #506690;
  text-align: center;
  font-size: 0.75em;
}
/*new css*/
/*.v-left-div{
            margin-left: 8.33333333%;
            }*/
.everBee__custom_view .col-12.summary {
  font-size: 14px !important;
  padding: 0px;
}
.everBee__custom_view .custom-m {
  margin-right: -2.666667% !important;
}
.everBee__custom_view input[type='checkbox' i]:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
.everBee__custom_view input[type='checkbox' i] {
  cursor: pointer;
}
.everBee__custom_view .p-location {
  color: #506690;
  font-family: HKGrotesk-Medium;
}
.everBee__custom_view .hrv {
  color: #e4ebf5 !important;
}
.everBee__custom_view .card-body-c {
  position: absolute;
  width: 171px;
  height: 74px;
  padding: 16px 4px 20px 35px;
  background: #fbfbfb;
  border: 1px solid #e4ebf5;
  box-sizing: border-box;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.04);
  padding-right: 0;
  background: #ffffff;
  border: 1px solid #e4ebf5;
  box-sizing: border-box;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}

/*table sticky header css*/
.everBee__custom_view .tableFixHead {
  overflow-y: auto;
}

.everBee__custom_view .tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}
.everBee__custom_view tr {
  transition: all 0.5s ease;
}
.everBee__custom_view .ShopRating {
  cursor: pointer;
}

.everBee__custom_view .tableFixHead th {
  position: sticky;
  top: 0;
  background: #eee;
  z-index: 5;
}

.everBee__custom_view .spinner-border-custom {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.15em solid currentColor;
  border-right-color: transparent;

  animation: b 0.75s linear infinite;
  color: #ffffff;
  margin: 0px 5px 5px -4px;
  border-radius: 70%;
}
.everBee__custom_view .avtar-icon-p {
  width: 2.625rem !important;
  height: 1.625rem !important;
  font-size: 0.54167rem !important;
  position: relative !important;
  display: inline-block !important;
}
.everBee__custom_view .main_box {
  padding: 0.5rem 3.5rem 1.5rem 3.5rem !important;
}

.everBee__custom_view .tableFixHead th {
  padding: 17px 0px 23px 15px !important;
  font-size: 12px;
}

.everBee__custom_view .tableFixHead th {
  padding: 17px 0px 23px 15px !important;
  font-size: 12px;
}

.everBee__custom_view tbody#scroll-pan tr {
  /*display: none;*/
}

.everBee__custom_view tbody#scroll-pan {
  display: block;

  height: 240px;
}
/*tbody {
    height:300px;
    overflow:auto;
    overflow-x:hidden;
    display:block;
    width:100%;
}
table {
    table-layout:fixed;
    margin:auto;
}
th, td {
        vertical-align: middle;
}
thead, tfoot {
    background:#f9f9f9;
    width:100%;
}

tbody tr {
    width:100%;
    table-layout:fixed;
    }*/
.everBee__custom_view a,
a:hover {
  color: inherit;
}
.everBee__custom_view .RatingNumber {
  color: #506690;
  font-family: HKGrotesk-Medium;
  font-size: 10px;
}
.everBee__custom_view .RatingCount {
  font-size: 10px;
}
.everBee__custom_view .ListingTags {
  font-family: HKGrotesk-Medium;
  margin-bottom: 0px;
}

.everBee__custom_view .table-scroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  /*height: 435px;*/
  max-height: 72.6vh;
  height: 56vh;
  min-height: auto;
}
.everBee__custom_view .table-scroll table {
  width: 100%;
  min-width: 1280px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.everBee__custom_view .table-wrap {
  position: relative;
}
.everBee__custom_view td {
  padding: 12px 2px;
}
/*.table-scroll thead th {
  background: #333;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  }*/
/* safari and ios need the tfoot itself to be position:sticky also */
.everBee__custom_view .table-scroll tfoot,
.everBee__custom_view .table-scroll tfoot th,
.everBee__custom_view .table-scroll tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: -1px;
  /* background: #666; */
  color: #fff;
  padding: 18px;
  z-index: 4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #ccc;
  border-top: 1px solid #edf2f9;
  background: #f9fbfd;
}

/*div loading*/
.everBee__custom_view #divLoading {
  display: none;
}
.everBee__custom_view #divLoading.show {
  display: block;
  position: fixed;
  z-index: 100;
  background-image: url('http://loadinggif.com/images/image-selection/3.gif');
  background-color: #666;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
.everBee__custom_view #loadinggif.show {
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 101;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
}
.everBee__custom_view div.content {
  width: 1000px;
  height: 1000px;
}
/*end*/

/*a:focus {
  background: red;
  }*/ /* testing links*/

/*th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background: #ccc;
  }*/
.everBee__custom_view thead th:first-child,
.everBee__custom_view tfoot th:first-child {
  z-index: 5;
}
.everBee__custom_view table tbody tr td:nth-child(5),
table tbody tr td:nth-child(6),
table tbody tr td:nth-child(7),
table tbody tr td:nth-child(8),
table tbody tr td:nth-child(9) {
  text-align: right !important;
  padding-right: 8px;
}
/*.everBee__custom_view table tbody tr td{
    cursor: pointer !important;
    }*/
/*.everBee__custom_view table tr th:nth-child(4){
     padding: 17px 0px 23px 20px !important;
 }
 .everBee__custom_view .table-sm td:nth-child(2){
    padding: 1rem .9375rem .9375rem;
    }*/
.everBee__custom_view .summary .col-md-3 {
  flex: 1 0 16.66667%;
  max-width: 20.66667%;
}
.everBee__custom_view .summary .custom-m p {
  margin-bottom: 4px;
}
.everBee__custom_view p.ShopHeadline {
  margin-bottom: 0px;
  font-family: HKGrotesk-Medium;
}
.everBee__custom_view {
  min-height: auto;
}
.everBee__custom_view .link {
  margin-top: 2.5rem;
  margin-bottom: 6px;
  display: block;
}
.everBee__custom_view .container-fluid {
  border: 0px solid #e4ebf5;
}
.everBee__custom_view .search_remining {
  background: #f7f8fa;
  border-radius: 100px;
  font-family: HK Grotesk Regular;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 5px 10px;
  width: auto;
  color: #506690;
  width: 195px;
  display: inline-block;
  cursor: pointer;
}
.everBee__custom_view .search_remining:hover {
  color: #506690;
}

.everBee__custom_view .upgrade {
  display: inline-block;
  background: #f7f8fa;
  border-radius: 100px;
  font-family: HK Grotesk Regular;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 5px 10px 5px 5px;
  width: auto;
  color: #506690;
  width: 105px;
  cursor: pointer;
  display: inline-flex;
  margin-inline-end: 17px;
}
.everBee__custom_view .upgrade:hover {
  color: #506690;
}
.everBee__custom_view .upgrade img,
.everBee__custom_view .premium img {
  padding-inline-end: 5px !important;
}
.everBee__custom_view .premium {
  font-family: 'HK Grotesk Regular';
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgb(80, 102, 144);
  width: 105px;
  cursor: pointer;
  display: inline-flex;
  background: rgb(247, 248, 250);
  border-radius: 100px;
  padding: 5px 10px 5px 5px;
}
.everBee__custom_view .premium:hover {
  color: #506690;
}
.everBee__custom_view .connect_btn {
  background: #0060b4;
  border-radius: 5px;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #ffffff;
  padding: 13px 25px;
  width: 181.35px;
  margin: auto;
}
.everBee__custom_view .connect_btn:hover {
  background: #005488;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  color: #fff;
}
.everBee__custom_view .prem-cls p {
  margin-bottom: 16px !important;
  /*padding: 0px 25px 0px 0px !important;*/
  padding: 0px 0px 0px 0px !important;
}
.everBee__custom_view .upgrade_etsy_btn {
  padding: 15px 21px;
  width: 250px;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: rgb(64, 124, 222);
  border-radius: 5px;
  margin: auto;
  color: #ffffff;
  text-decoration: none !important;
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
}
.everBee__custom_view .upgrade_etsy_btn:hover {
  background: #005488 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  text-decoration: none !important;
  color: #ffffff !important;
  cursor: pointer !important;
}
.everBee__custom_view #pay-btn {
  text-decoration: none;
  font-family: HK Grotesk Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.everBee__custom_view .upgrade_etsy_btn span {
  width: 51.25px;
  height: 21.5px;
}
.everBee__custom_view .upgrade_etsy_btn img {
  opacity: 0.8;
  padding-inline-start: 30px;
}
.everBee__custom_view .upgrade_etsy_btn img:hover {
  opacity: 1;
  cursor: pointer !important;
}
.everBee__custom_view .prem-cls {
  margin-inline-start: -35px !important;
}
.everBee__custom_view .prem-cls p span {
  font-family: HK Grotesk Pro !important;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #161c2d;
}
.everBee__custom_view .premetagTd {
  display: inline-block;
  background: #f7f8fa;
  border-radius: 100px;
  font-family: HK Grotesk Regular;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.08em;
  padding: 3px 0px 3px 5px;
  width: auto;
  color: #506690;
  width: 80px;
  cursor: pointer !important;
  float: right;
  font-weight: bold;
}
.everBee__custom_view .isPremium {
  padding: 17px 0px 23px 30px !important;
}
.everBee__custom_view .padR {
  padding-right: 50px !important;
}
.everBee__custom_view .text-muted {
  font-family: HK Grotesk regular !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 17px !important;
  line-height: 26px !important;
  text-align: center !important;
  color: #6e84a3 !important;
  opacity: 0.8 !important;
}
::-webkit-input-placeholder {
  color: peachpuff;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #869ab8;
}
::-moz-placeholder {
  color: peachpuff;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #869ab8;
}
:-ms-input-placeholder {
  color: peachpuff;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #869ab8;
}
::placeholder {
  color: peachpuff;
  font-family: HK Grotesk regular;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #869ab8;
}
@media only screen and (max-width: 1032px) {
  .everBee__custom_view .brandname {
    /* width: 561px; */
    margin-bottom: 20px;
  }
  .everBee__custom_view #title1 {
    margin-left: 0px;
  }
  @media only screen and (max-width: 937px) {
    .everBee__custom_view .group-65 {
      margin-left: 0px;
      margin-top: 10px;
    }
    .everBee__custom_view .AveragePrice,
    .AverageFavourites,
    .AverageReviews {
      margin-left: 8px;
    }
  }
  @media only screen and (max-width: 697px) {
    .everBee__custom_view .group-65 {
      margin-left: 0px;
    }
  }
  @media only screen and (max-width: 640px) {
    .everBee__custom_view .AverageFavourites,
    .AverageReviews {
      margin-left: 0px;
    }
    .everBee__custom_view .AveragePrice,
    .AverageFavourites {
      margin-bottom: 8px;
    }
  }
  .everBee__custom_view .no-scroll {
    overflow-y: hidden;
  }
}
