.search-bar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.search-bar__illustration {
  position: absolute;
  width: 150px;
  top: 60px;
  right: 17%;
  opacity: 1;
  transition: opacity 0.14s ease-in-out;
}

.analytics__illustration {
  position: absolute;
  top: 17px;
  right: 300px;
  width: 300px;
  opacity: 1;
  transition: opacity 0.14s ease-in-out;
}

.favorites__illustration {
  position: absolute;
  top: 20px;
  right: 250px;
  width: 350px;
  opacity: 1;
  transition: opacity 0.14s ease-in-out;
  user-select: none;
  -moz-user-select:none;
}

#everBee-ext-keyword,
#everBee-ext-favorites {
  overflow: hidden;
}

#everBee-ext-favorites {
  background-color: white;
  width: 99%;
  height: 100%;
  z-index: 88888;
}

#everBee-ext-favorites .ebe-table-container {
  top: 300px;
}

#everBee-ext-categories .ebe-table-container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.search-bar input {
  height: 40px;
  display: block;
  width: 400px;
  padding: 8px 12px;
  margin-right: 20px;
  font-size: 16px;
  color: #333333;
  border: 1px rgba(128, 128, 128, 0.493) solid;
  border-radius: 25px;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(4, 56, 114, 0.15);
  border-radius: 24px;
}

.search-bar__btn.ebe-btn-default {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 120px;
  border-radius: 25px;
}

#overview-keyword {
  margin-bottom: 10px;
  height: 30px;
  display: block;
  color: #043872;
  font-size: 24px;
  font-weight: 500;
}

.overview-p {
  margin-left: 5% !important;
  position: absolute !important;
  top: 150px !important;
  margin-top: -10px;
  font-size: 14px;
  max-width: 375px;
}

.overview-p span {
  font-weight: 400;
}

.ebe-metric-second {
  margin-top: 20px !important;
}

#kf-msg-sucess {
  position: absolute;
  bottom: 20px;
  color: rgba(128, 128, 128, 0.7);
  width: 100%;
  text-align: center;
}

#kf-rs-category {
  position: absolute !important;
  top: 8px;
  color: #58b2f1;
  font-size: 18px !important;
  margin-right: 30px;
}

#kf-rs-price {
  right: -160px;
  top: -100px;
  color: #f1651f;
  font-size: 36px !important;
}

.tags-rating {
  position: absolute;
  top: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  right: 100px;
  width: 88.5%;
  min-width: 50%;
  border-radius: 6px;
  border: 1px solid #58b3f1;
  background-color: #fff;
  box-shadow: rgba(18, 38, 63, 0.03) 0px 8px 20px 1px !important;
  transition: opacity 0.5s ease;
}

.tags-rating__header {
  position: relative;
  width: 100%;
  height: 56px;
  padding-right: 24px;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-pack: start;
  flex-wrap: nowrap;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #f5faff;
  object-fit: fill;
  overflow: visible;
  border-bottom: 1px solid lightgrey;
  transition: width 0.5s ease 0s !important;
}

.tags-rating__header-wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 110px 1.5fr 1.1fr 1.4fr 1fr 1fr 0.9fr 1.9fr 1.4fr;
  width: 100%;
}

.tags-rating__title {
  position: absolute;
  bottom: 125%;
  color: #043872;
  font-weight: 800;
}

.tags-rating__body {
  width: 100%;
}

.tags-rating__item {
  display: grid;
  grid-template-columns: 120px 1.5fr 1.1fr 1.5fr 1fr 1fr 1fr 2fr 1.1fr;
  padding: 0 3px;
  border-bottom: 1px solid rgb(249, 251, 253);
  text-align: left;
  -webkit-box-align: center;
  align-items: center;
  transition: border 0.3s ease 0s;
}

.tagsrating__metric:first-child {
  font-weight: 900;
  width: 120px;
  white-space: nowrap;
}

.tags-rating__name {
  font-weight: 500;
  padding: 10px 3px !important;
}

.tags-rating__item:nth-child(even) {
  background-color: #f5faff;
  color: #043872;
}

.tags-rating__metric {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  height: 100%;
}

.tags-rating__metric:nth-child(2),
.tags-rating__metric:nth-child(8) {
  flex-basis: 80px;
}

.tags-rating__metric:not(:last-child) {
  border-right: 1px solid #a7dcff;
}

.tags-rating__col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-loader {
  display: none;
  width: 80px;
  height: 80px;
  margin: 100px !important;
}

.table-loader.active {
  display: inline-block;
}

.table-loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #a7dcff;
  border-color: #a7dcff transparent #a7dcff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
