/* .mosttop 
{
    position: absolute !important;
    width: 1304px !important;
    height: 713px !important;
    left: 68px !important;
    top: 122px !important;
    
    background: #FFFFFF !important;
    border: 1px solid #E4EBF5 !important;
    box-sizing: border-box !important;
    border-radius: 6px !important;
} */

.brandname h4{
  
    font-family: HK Grotesk Pro !important;
font-size: 24px !important;
line-height: 22px !important;
/* or 93% */


/* Danger */

color: #DF4759 !important;
}

.Averagesales span{
    position: absolute;
width: 42px;
height: 24px;
left: 337px;
top: 201px;

font-family: HK Grotesk Pro;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */


color: #DF4759 !important;
}
 .container-fluid mt-n6{
        width: 900px !important;
  height: 508px !important;
  max-width: 100% !important;
  background-color: #fff ;
  position: fixed !important;
  top: 20px !important;
  right: 20px;
  border: none;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;

  -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}

