@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/* ScrolBar  */
.main-menu .scrollbar {
  background: transparent;
  padding-top: 30px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main-menu.disabled {
  opacity: 0.7;
  background: lightslategrey;
  pointer-events: none;
}
/* .main-menu .scrollbar:hover {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
} */

#cancelSubscription {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 135px;
  left: -10px;
  font-size: 12px;
}

#cancelSubscription.isActive {
  display: block;
}

#cancelSubscription a {
  color: #888;
  transition: color 0.2s ease;
  cursor: pointer;

}

#cancelSubscription:hover a {
  color: #fff;
}

.scrollbar__copyright {
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  text-align: center;
  margin: 0 5px;
  line-height: 20px;
  opacity: 0;
  transition: opacity 0.6s ease-in;
  white-space: pre;
}

.main-menu:hover .scrollbar__copyright {
  opacity: 1;
}

.main-menu svg {
  position: relative;
  right: -15px;
  top: 0;
  display: table-cell;
  width: 25px;
  height: 45px;
  text-align: center;
  font-size: 20px;
}

.main-menu li:hover svg path,
.main-menu li.active svg path {
  fill: #00629e;
}

.main-menu li:nth-child(3):hover svg path,
.main-menu li:nth-child(3).active svg path,
.main-menu li:nth-child(4).active svg path,
.main-menu li:nth-child(4):hover svg path {
  stroke: #00629e;
  fill: #fff;
}

.main-menu:hover,
.main-menu.expanded {
  width: 280px;
  overflow: hidden;
  opacity: 1;
}

.main-menu #menu-logo-img {
  transition: margin-left 0.3s linear;
}

.main-menu:hover #menu-logo-img {
  margin-left: 15px;
}

.main-menu {
  background: #043872;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  z-index: 99999;
  overflow: hidden;
  transition: width 0.3s linear;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu ul {
  padding-left: 0 !important;
}

.main-menu li:not(:last-child) {
  margin-bottom: 50px;
}
.main-menu li:last-child {
  position: absolute;
  bottom: 120px;
}

.main-menu li {
  position: relative;
  width: 280px;
  display: table;
  border-spacing: 0;
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-left: 7%;
  border-top: 1px solid transparent;
  z-index: 1;
}
/* 
.main-menu li:hover:not(:first-child)::after,
.main-menu li.active:not(:first-child)::after,
.main-menu li:hover:not(:first-child):before,
.main-menu li.active:not(:first-child):before {
  opacity: 1;
}

.main-menu li:not(:first-child)::after,
.main-menu li:not(:first-child)::before {
  content: '';
  position: absolute;
  right: -3px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  opacity: 0;
  z-index: 0;
  transition: transform 0.3s linear;
}

.main-menu:not(:hover) li.active::after,
.main-menu:not(:hover) li.active::before {
  transform: translateX(-200px);
} */

/* .main-menu:not(:hover) li:not(:first-child).active::after,
.main-menu:not(:hover) li:not(:first-child).active::before {
  transform: translateX(-200px);
} */

/* .main-menu li::after {
  bottom: 100%;
  border-bottom-right-radius: 100%;
  box-shadow: 12px 10px 0 10px #fff;
}

.main-menu li::before {
  top: 98%;
  border-top-right-radius: 100%;
  box-shadow: 12px -10px 0 10px #fff;
}
*/

.main-menu li:hover:not(:first-child,#cancelSubscription ),
.main-menu li.active:not(:first-child) {
  cursor: pointer;
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #00629e;
}

.main-menu li.active {
  background-color: white;
  color: #00629e;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

#menu-text-logo {
  height: 25px;
  margin-left: 20px;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.7 linear;
}

.main-menu:hover #menu-text-logo {
  opacity: 1;
}

.main-menu:hover .nav-text {
  opacity: 1;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 20px;
  width: 190px;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s linear;
}

#menu-logo-img {
  width: 40px;
  transform: scale(1.3);
  margin-left: 8px;
}

.main-menu a {
  text-decoration: none !important;
}

.main-menu i {
  text-decoration: none !important;
}

#logo-li {
  margin-bottom: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}

#logo-li:hover {
  background-color: transparent !important;
}

.logo-image-container {
  display: flex;
  align-items: center;
}

.everbee-left-ghost {
  padding-left: 60px;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.copyright__text {
  height: 90px;
}

.copyright__signed-user {
  white-space: nowrap;
  height: 10px;
  font-size: 10px;
  color: #cbccc9;
}
