.w-layout-grid {
  display: flex;
  gap: 10px;
}

.background {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(86, 98, 117, 0.75)),
    to(hsla(0, 0%, 100%, 0))
  );
  background-image: linear-gradient(
    360deg,
    rgba(86, 98, 117, 0.75),
    hsla(0, 0%, 100%, 0)
  );
}

.everbee-extension {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 250px;
  margin-left: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e4ebf5;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
  font-family: Hkgrotesk, sans-serif;
  color: #12263f;
  -o-object-fit: cover;
  object-fit: cover;
}

.logo-section {
  position: absolute;
  top: 10px;
  left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-section__title {
  position: relative;
  white-space: nowrap;
  color: #fff;
  bottom: 10px;
}

.logo-link {
  width: 100px;
}

.seperator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1px;
  height: 84px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none none none solid;
  border-width: 0px 1px 1px;
  border-color: transparent #e4ebf5 #e4ebf5;
  background-color: transparent;
  color: transparent;
}

.title-section {
  width: auto;
  padding-right: 32px;
  padding-left: 32px;
}

.listing-title {
  width: 250px;
  font-family: Hkgrotesk, sans-serif;
  color: #12263f;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
}

.listing-title:hover {
  color: #6e84a3;
}

.metrics-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* .metrics-card {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
} */

.metric-name {
  font-family: Hkgrotesk, sans-serif;
  color: #99aac6;
  font-size: 8px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.metric-value {
  font-family: Hkgrotesk, sans-serif;
  color: #12263f;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

.tags-section {
  width: auto;
  height: 118px;
}

.tags-title {
  margin-top: 8px;
  font-family: Hkgrotesk, sans-serif;
  color: #99aac6;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.tags-title-listing {
  margin-bottom: -12px !important;
  margin-top: 2px !important;
}

.copy-clipboard-text-title {
  position: absolute;
}

.tags-results {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 0 9px;
  width: 370px;
  padding-left: 24px;
}

/* .tags-results-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tags-results-column._4pd {
  padding-left: 4px;
} */

.listing-tag-text {
  display: inline-block;
  font-family: Hkgrotesk, sans-serif;
  color: #043872;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  cursor: pointer;
}

.listing-tag-text:hover {
  color: #99aac6;
}

.tag-research {
  width: 10px;
  height: 10px;
  margin-top: 3px;
  margin-left: 5px;
  transition: opacity 0.1s ease-in-out;
}

.tag-research:hover {
  cursor: pointer;
  opacity: 0.7;
}

.shop-section {
  display: block;
  width: 300px;
  padding-right: 16px;
  padding-left: 24px;
}

.shop-card {
  position: relative;
  top: 10px;
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
}

.shop-name {
  width: 236px;
  font-family: Hkgrotesk, sans-serif;
  color: #12263f;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}

.shop-name:hover {
  color: #99aac6;
}

.shop-title {
  width: 236px;
  font-family: Hkgrotesk, sans-serif;
  color: #12263f;
  font-size: 12px;
  font-weight: 400;
}

.shop-title:hover {
  color: #12263f;
}

.shop-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 12px;
}

.shop-details-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Hkgrotesk, sans-serif;
  color: #506690;
  font-size: 12px;
  font-weight: 500;
}

.shop-details-text:hover {
  color: #506690;
}

.shop-details-text._2pd {
  padding-left: 4px;
}

.location-icon {
  margin-right: 6px;
}

.shop-seperator {
  width: auto;
  height: 16px;
  max-width: none;
  padding-right: 8px;
  padding-left: 8px;
}

.shop-reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 236px;
  height: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shop-stars {
  margin-top: 5px;
  margin-bottom: 5px;
}

.shop-review-count {
  margin-left: 8px;
}
.shop-details-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.shop-review-count-text {
  font-family: Hkgrotesk, sans-serif;
  color: #506690;
  font-size: 7px;
}

.shop-review-count-text:hover {
  color: #99aac6;
}

.extension-exit {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1340px;
  height: 18px;
  margin: 0px 5% 112px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.listing-title-link {
  font-family: Hkgrotesk, sans-serif;
  color: #12263f;
  text-decoration: none;
}

.listing-title-link:hover {
  color: #6e84a3;
}

.copy-clipboard-link {
  padding-top: 4px;
  border: 0px solid transparent;
  color: #99aac6;
  text-decoration: underline;
}

.copy-clipboard-link:hover {
  color: #12263f;
}

.copy-clipboard-text {
  padding-right: 8px;
  background-color: #fff;
  color: #043872;
  font-family: Hkgrotesk, sans-serif;
  font-size: 13px;
  cursor: pointer;
  margin: 5px auto;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(4, 56, 114, 0.15);
  border-radius: 40px;
}

.copy-clipboard-text:hover {
  color: #12263f;
}

.copy-clipboard-text svg {
  width: 8px;
  margin-right: 5px;
}

.listing-tag {
  line-height: 14px;
  text-decoration: none;
}

.loading-section {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.8);
}

.loader__small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  height: 2rem;
  margin-right: 104px;
  background-image: url('../images/carbon-loader-small.svg');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.loader__small {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listing-copied-state {
  position: absolute;
  display: none;
  width: 110px;
  height: 15px;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 0.95);
  -o-object-fit: fill;
  object-fit: fill;
}

.copied-text {
  padding-left: 16px;
  font-family: Hkgrotesk, sans-serif;
  color: #42ba96;
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
  text-align: left;
}

.listing-tag-div {
  position: static;
  display: block;
  width: auto;
  display: flex;
}

.all-tags-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.copied-clipboard-text {
  position: absolute;
  z-index: 1;
  width: 110px;
  padding-right: 0px;
  background-color: #fff;
  font-family: Hkgrotesk, sans-serif;
  color: #42ba96;
  font-size: 7px;
}

.copied-clipboard-text:hover {
  color: #42ba96;
  -o-object-fit: fill;
  object-fit: fill;
}

.copied-clipboard-text:active {
  padding-right: 0px;
  background-color: #fff;
  color: #42ba96;
}

.div-block {
  display: none;
  background-color: hsla(0, 0%, 100%, 0.9);
}

.tag-placeholder {
  position: absolute;
  display: block;
  width: 90px;
  height: 12px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 6px;
  background-color: #e4ebf5;
}

.premium-upgrade-text {
  position: static;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 6px;
  padding-left: 6px;
  border: 1px none #e4ebf5;
  border-radius: 6px;
  background-color: #f1f4f8;
  color: #506690;
  font-size: 9px;
  font-weight: 500;
  cursor: pointer;
}

.premium-upgrade {
  position: absolute;
  display: block;
  margin-top: -18px;
}

#closeIndividualEverBeeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

@font-face {
  font-family: 'Hkgroteskpro';
  src: url('../fonts/HKGroteskPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hkgrotesk';
  src: url('../fonts/HKGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hkgrotesk';
  src: url('../fonts/HKGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hkgrotesk';
  src: url('../fonts/HKGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hkgrotesk';
  src: url('../fonts/HKGrotesk-Regular.otf') format('opentype'),
    url('../fonts/HKGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hkgrotesk';
  src: url('../fonts/HKGrotesk-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
